{% extends "containers/content-container-half.j2" %}
{% import "macros.j2" as macros %}


{% block header %}

    {% set headline = title %}
    {{ macros.site_header(breadcrumb, headline, false, image, false, "forms") }}
    
{% endblock  %}


{% block messages %}    

    {% for error in form.errors %}

        {% set message = {"body":error.msg}  %}

        {{ macros.message(message, "theme--error", "layout--half") }}


    {% endfor %}


    {% if not form.errors and form.has_field_errors %}

        {% set message = {"body":"Whoops. Please check the following information"}  %}

        {{ macros.message(message, "theme--error","layout--half") }}

    {% endif %}


    {% if confirmation_msg %}

        {% set message = confirmation_msg %}
        
        {{ macros.message(message, "theme--confirmation","layout--half") }}


    {% endif %}


{% endblock %} 


{% block content %} 
    

    <div class='[ grid ]'>

        <div class='[ col ]  '>
 
            {% if step_name %}

                <h2>
                    {{ step_name }}
                </h2>

            {% endif %}
             
            <form method='post' action='' class='{% if form.has_field_errors %}form--has-errors{% endif %}'>
                
                {% for item in form.fields %}

                    {{ item | component }}

                {% endfor %}
            </form>

        </div>
        
    </div>


{% endblock %}
{% block anchor %}
{% endblock %}