{% extends "containers/content-container-half" %}

{% block header %}

    <div class='[ layout layout--half ]'>

        <div class='[ grid ]'>

            <div class='[ col ]'>

                <h1 >
                    You’re done|safe
                </h1>

            </div>

        </div>

    </div> 

{% endblock %}



{% block content %}
        
    <div class='[ col ] '>
        
        <p>
            <a href="/transaction-centre/">Back to forms</a>
        </p>

    </div>
     

{% endblock %}