{% extends "pages/forms/form.j2" %}

{% block content %}
            
    <div class='[ grid ]'>
        
        <div class='[ col ]  '>
            
            <p class='intro'>
                You’ll need your New Zealand driver licence. If your licence has expired you can book a test, but you’ll need to renew your licence before you sit it.
            </p>

            <a class='btn btn--block btn--primary' href='step1'>
                Book, change or cancel a test
            </a>
            
            <p class='field--link'>
                <a href='/driver-licences/getting-a-licence/take-your-tests/book-a-driver-licence-test/' class='field--link__link'>Help with booking a test</a>
            </p>

        </div>
       
    </div>

{% endblock %}