{% extends "pages/forms/form.j2" %}

{% block content %}

    <div class='[ grid ]'>

        <div class='[ col ]'>

            {% if step_name %}

                <h2 class=''>
                    {{ step_name|safe }}
                </h2>

            {% endif %}

            <div class='field--details'>
                
                <p>
                    What you need:
                </p>

                <ul>
                    <li>
                        The renewal notice you received in the mail; 
                        <br>
                        <em>or</em>
                    </li>

                    <li>
                        Your New Zealand driver licence and vehicle plate number
                    </li>

                </ul>

            </div>

            <a class="btn btn--block btn--primary" href="step1">
                Get started
            </a>

        </div>

    </div>

{% endblock %}