.hr--large {
    margin-top: $size-space-default * 2;
    margin-bottom: $size-space-default * 2;
}

.hr--small {
    margin-top: $size-space-default;
    margin-bottom: $size-space-default;
}

.hr--xsmall {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
