
<div class="traffic-info">

    {# Level 3 list view #}
    <div class="traffic-info__header">

        <ol class="breadcrumb">
            <li>
                <a data-back>Auckland</a>
            </li>
        </ol>

        <h1>
            North-Western Motorway
            <div class="highway">
                <span class="highway__number">1</span>
                <i class="i i-sh i--red"></i>
            </div>
        </h1>

        <h2>Oteha Valley Rd. – Fanshawe St.</h2>

        <ul class="switch-nav">
            <li class="nav__item">
                <a href="#" class="active">Northbound</a>
            </li>
            <li class="nav__item">
                <a href="#" class="">Southbound</a>
            </li>
        </ul>

    </div>

    <div class="traffic-info__body">

        <ul class="location-list" data-items>

            <li class="list__item block-theme--grey">
                <div class="theme__background">
                    <div class="traffic-metrics">
                        <div class="">
                            <i class="i i-distance"></i><br />
                            45 km
                        </div>
                        <div class="">
                            <i class="i i-speed"></i><br />
                            60 km/h
                        </div>
                        <div class="">
                            <i class="i i-duration"></i><br />
                            45 min
                        </div>
                    </div>

                    <div class="traffic-messages">
                        <a href="#" class="pill pill--orange">
                            <i class="i i-roadworks"></i>
                            <strong>Tristram Ave.</strong>
                            Delays
                        </a>
                        <a href="#" class="pill pill--warning">
                            <i class="i i-warning"></i>
                            <strong>Fanshawe St.</strong>
                            Road closed
                        </a>
                    </div>
                </div>
            </li>

            <li class="list__item">
                <ul class="route">

                    <li class="route__item">
                        <a href="#" data-href="Auckland/North-Western%20Motorway/Tristram%20Ave">
                            <div class="route__figure">
                                <img src="/images/traffic/webcam-1.jpg" alt="" class="figure__image"/>
                            </div>
                            <h4>Tristram Ave <i class="i i-arrow-r"></i></h4>
                            <p class="icon-text"><i class="i i-time"></i>4 min</p>
                        </a>
                    </li>

                    <li class="route__item">
                        <a href="#" class="">
                            <h4>Greville <i class="i i-arrow-r"></i></h4>
                            <p class="icon-text"><i class="i i-time"></i>2 min</p>
                        </a>
                    </li>

                    <li class="route__item">
                        <a href="#">
                            <h4>Constellation <i class="i i-arrow-r"></i></h4>
                            <p class="icon-text"><i class="i i-time"></i>16 min</p>
                            <div class="route__figure">
                                <img src="/images/traffic/webcam-3.jpg" alt="" class="figure__image"/>
                            </div>
                        </a>
                    </li>

                    <li class="route__item route__item--orange">
                        <a href="#">
                            <h4>Tristram <i class="i i-arrow-r"></i></h4>
                            <p class="icon-text"><i class="i i-time"></i>12 min</p>
                            <p>Some extra content...</p>
                        </a>
                    </li>

                    <li class="route__item route__item--roadworks">
                        <a href="#">
                            <h4>Tristram <i class="i i-arrow-r"></i></h4>
                            <p class="icon-text"><i class="i i-time"></i>12 min</p>
                            <p>Some extra content...</p>
                        </a>
                    </li>

                    <li class="route__item route__item--warning">
                        <a href="#">
                            <h4>Greville <i class="i i-arrow-r"></i></h4>
                            <p class="icon-text"><i class="i i-time"></i>7 min</p>
                            <div class="route__figure">
                                <img src="/images/traffic/webcam-2.jpg" alt="" class="figure__image"/>
                            </div>
                        </a>
                    </li>

                    <li class="route__item route__item--red">
                        <h4>Constellation</h4>
                    </li>

                </ul>
            </li>

        </ul>

    </div>

</div>

