<div class="traffic-info level-1">

    {# Level 1 list view #}
    <div class="traffic-info__header">
        <ol class="breadcrumb">
            <li>
                <a href="/">NZTA</a>
            </li>
        </ol>
        <h1>New Zealand Traffic</h1>
    </div>
    <div class="traffic-info__body">
        <ul class="location-list" data-items>
        </ul>
    </div>

</div>