<div class="traffic-info">
    <div class="traffic-info__header">
        <h1>
            Traffic info
        </h1>
    </div>
    <div class="traffic-info__body">
    <ul data-items class="location-list"></ul>
    </div>
</div>