
<div class="traffic-info">

    {# Level 2 list view #}
    <div class="traffic-info__header">

        <ol class="breadcrumb">
            <li>
                <a  data-back>New Zealand</a>
            </li>
        </ol>

        <h1>
            {{ data.region }} Traffic
        </h1>

    </div>

    <div class="traffic-info__body">
        <ul class="location-list" data-items>
            <li class="list__item">

                <a href="#" data-href="Auckland/North-Western%20Motorway" class="list__link">
                    <h3>
                        North-Western Motorway
                        <div class="highway">
                            <span class="highway__number">1</span>
                            <i class="i i-sh i--red"></i>
                        </div>
                    </h3>
                </a>

                <div class="traffic-messages">
                    <span class="pill">
                        <i class="i i-time"></i>
                        <strong>45 min</strong>
                    </span>
                    <a href="#" data-href="Auckland/North-Western%20Motorway/Tristram%20Ave/info/Roadworks" class="pill pill--orange">
                        <i class="i i-roadworks"></i>
                        <strong>Tristram Ave.</strong>
                        Road closed
                    </a>
                    <a href="#" data-href="Auckland/North-Western%20Motorway/Fanshawe%20St./info/Accident" class="pill pill--warning">
                        <i class="i i-warning"></i>
                        <strong>Fanshawe St.</strong>
                        Delays
                    </a>
                </div>

                <div class="[ horizontal-scroll ]">
                    <ul class="webcam-list">
                        <li>
                            <a href="#" class="webcam">
                                <img src="/images/traffic/webcam-1.jpg" alt="" class="webcam__image"/>
                                <p class="webcam__caption">Greville Road</p>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="webcam">
                                <img src="/images/traffic/webcam-2.jpg" alt="" class="webcam__image"/>
                                <p class="webcam__caption">Tristram Ave</p>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="webcam">
                                <img src="/images/traffic/webcam-3.jpg" alt="" class="webcam__image"/>
                                <p class="webcam__caption">Northcote Road</p>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="webcam">
                                <img src="/images/traffic/webcam-1.jpg" alt="" class="webcam__image"/>
                                <p class="webcam__caption">Esmonde Road</p>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="webcam">
                                <img src="/images/traffic/webcam-2.jpg" alt="" class="webcam__image"/>
                                <p class="webcam__caption">Tristram Ave</p>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="webcam">
                                <img src="/images/traffic/webcam-3.jpg" alt="" class="webcam__image"/>
                                <p class="webcam__caption">Northcote Road</p>
                            </a>
                        </li>
                    </ul>
                </div>

            </li>

            <li class="list__item">
                <a href="#" data-href="Auckland/North-Western%20Motorway" class="list__link">
                    <h3>
                        Upper Harbour Motorway
                        <div class="highway">
                            <span class="highway__number">18</span>
                            <i class="i i-sh i--red"></i>
                        </div>
                    </h3>
                </a>
                <div class="traffic-messages">
                    <span class="pill">
                        <i class="i i-time"></i>
                        <strong>30 min</strong>
                    </span>
                    <span class="pill pill--confirm">
                        <strong>No delays</strong>
                    </span>
                </div>
                <div class="[ horizontal-scroll ]">
                    <ul class="webcam-list">
                        <li>
                            <a href="#" class="webcam">
                                <img src="/images/traffic/webcam-3.jpg" alt="" class="webcam__image"/>
                                <p class="webcam__caption">Tauhini Bridge</p>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="webcam">
                                <img src="/images/traffic/webcam-1.jpg" alt="" class="webcam__image"/>
                                <p class="webcam__caption">Albany Highway</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="list__item">
                <a href="#" data-href="Auckland/North-Western%20Motorway" class="list__link">
                    <h3>
                        Southern Motorway
                        <div class="highway">
                            <span class="highway__number">5</span>
                            <i class="i i-sh i--red"></i>
                        </div>
                    </h3>
                </a>
                <div class="traffic-messages">
                    <span class="pill">
                        <i class="i i-time"></i>
                        <strong>40 min</strong>
                    </span>
                    <span class="pill pill--confirm">
                        <strong>No delays</strong>
                    </span>
                </div>
                <div class="[ horizontal-scroll ]">
                    <ul class="webcam-list">
                        <li>
                            <a href="#" class="webcam">
                                <img src="/images/traffic/webcam-2.jpg" alt="" class="webcam__image"/>
                                <p class="webcam__caption">Esmonde Road</p>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="webcam">
                                <img src="/images/traffic/webcam-3.jpg" alt="" class="webcam__image"/>
                                <p class="webcam__caption">Northcote Road</p>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="webcam">
                                <img src="/images/traffic/webcam-1.jpg" alt="" class="webcam__image"/>
                                <p class="webcam__caption">Greville Road</p>
                            </a>
                        </li>
                    </ul>
                </div>

            </li>


        </ul>
    </div>

</div>

