
    <div class="traffic-info">

        {# Level 4 list view #}
        <div class="traffic-info__header">

            <ol class="breadcrumb">
                <li>
                    <a  data-back>North-Western Motorway</a>
                </li>
            </ol>

            <h1>
                Tristram Ave. – Northcote Rd.
                <div class="sh">
                    <span class="sh__number">1</span>
                    <i class="i i-sh"></i>
                </div>
            </h1>

            <h2>Southbound</h2>

        </div>

        <div class="traffic-info__body">

            <ul class="location-list" data-items>

                <li class="[ full-width ] list__item">
                    <div class="webcam">
                        <img src="/images/traffic/webcam-3.jpg" alt="" class="webcam__image"/>
                        <p class="webcam__caption">
                            SH1 2 Tristram Ave., looking South
                            <span class="webcam__last-update"><i class="i i-timer"></i>28/08/2014 3:15:21pm</span>
                        </p>
                    </div>
                </li>

                <li class="list__item block-theme--grey">
                    <div class="theme__background">

                        <div class="traffic-metrics">
                            <div>
                                <i class="i i-distance"></i><br />
                                3 km
                            </div>
                            <div>
                                <i class="i i-speed"></i><br />
                                30 km/h
                            </div>
                            <div>
                                <i class="i i-duration"></i><br />
                                6 min
                            </div>
                        </div>

                    </div>
                </li>

                <li class="list__item block-theme--orange">
                    <a href="#" data-href="Auckland/North-Western%20Motorway/Tristram%20Ave/info/Roadworks" class="list__link theme__background">
                        <h3>
                            Roadworks
                            <i class="i i-roadworks"></i>
                        </h3>
                        <h5>SH1 Tristram Ave. Offramp</h5>
                        <p><strong>Expect delays</strong> 18 Jun – 6 Jul 2014</p>
                    </a>
                </li>

                <li class="[ full-width ] list__item">

                    <ul class="share-nav">
                        <li><span>Share</span></li>
                        <li>
                            <a href="#" class="link-theme--twitter">
                                <i class="i i-twitter"></i>
                                <span class="sr-only">Twitter</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="link-theme--facebook">
                                <i class="i i-facebook"></i>
                                <span class="sr-only">Facebook</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="link-theme--google">
                                <i class="i i-google"></i>
                                <span class="sr-only">Google</span>
                            </a>
                        </li>
                    </ul>

                </li>

            </ul>

        </div>

    </div>