{% if item.external_theme %}

<div class='{{item.external_theme}}'>

{% endif %}

        <div class='[ wrapper ] {{item.internal_theme}}'>
            
            {% if item.container_padding %}
           
            <div class='[ {{item.container_padding}} ] '>

            {% endif %}

                {% if item.intro  %}

                <div class='[ grid {{item.intro_grid_modifier}} ]'>

                    <div class="[ col large-8 ] {{item.column_theme }} gallery__intro">
                        
                        {% set intro = {"data":item.intro} %}
                    
                        {{ intro|children }}
                         
                    </div>

                </div>

                {% endif %}
             
                <div class='[ grid ] {{item.gallery_grid_modifier}}'>

                {% for gallery_item in item.gallery %}
                    
                    <div class="[ col{% if column.remove_column_gutter %}--no-gutters{% endif %} {{gallery_item.column_size | default('medium-half')}} ] {{gallery_item.content_theme }} gallery__item mt-m">
                      
                        {% for content in gallery_item.content %}
                            
                            {{ content|children }} 

                        {% endfor %}
                        
                    </div>

                {% endfor %}

            </div>

        </div>
        {% if item.container_padding %}
        
                </div >
                
            </div >

            {% endif %}

    </div>

{% if item.external_theme %}
    </div>
{% endif %}



{% if item.external_theme %}

<div class='{{item.external_theme}}'>

{% endif %}

    <div class='[ wrapper ]'>   

        <div class='[ {{item.container_padding}} ] {{item.internal_theme}}'>

            <div class='[ grid {{item.grid_modifier}} ] '>

                {% for column in item.columns %}
                    
                <div class="[ col{% if item.remove_column_gutters %}--no-gutters{% endif %} {{column_size }}  {{column.column_size}} ] {{column.column_theme}}">
                    
                    {% if column.content_theme or column.remove_content_gutters or column.content_padding %}
                    
                    <div class='{% if column.remove_content_gutters %}{% else %}gutters {% endif %} {{column.content_theme}} {{column.content_padding}}'>

                    {% endif %}

                        {{ column|children }}

                    {% if column.content_theme or column.remove_content_gutters or column.content_padding%}
                    
                    </div>
                    
                    {% endif %}

                </div>

                {% endfor %}
                
            </div>
        
        </div>

    </div>

{% if item.external_theme %}

</div>

{% endif %}