{% extends "template.j2" %}
{% import "macros.j2" as macros %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="/css/style-guide.css">
{% endblock %}

{% block content %}

    <!--<div class='theme--neutral'>

        <div class='[ wrapper ]'>

            <div class='[ layout ] styleguide-anchors'>

                <div class='[ grid ]'>
          
                    <ul class='[ col ] nav'>

                        <li>
                            <a href='#typography-helpers' class='pill'>
                               Typography helpers
                            </a>
                        </li>

                    </ul>
                  
                </div>

            </div>

        </div>

    </div>-->

    <div class='theme--neutral'>

        <div class='wrapper'>

            {% for item in data %}
                {{ item|component }}
            {% endfor %}
        </div> 

    </div>
    
{% endblock %}