{% extends "template.j2" %}
{% import "macros.j2" as macros %}

{% block header %}
    <div class='theme--neutral'>
        <div class='[ wrapper ] '>
            <div class='[ layout section-xxxxl ] '>
                <h1>
                    Pages
                </h1>
                <p class='intro'>
                    This is a place you can mock up different templates 
                </p>
                <a class="btn btn--secondary " href="/pages/one/"> Page one </a>
                <a class="btn btn--secondary " href="/pages/two/"> Page two </a>
            </div>
        </div>
    </div>
{% endblock  %}

{% block content %}

    <div class='device' >
    
        <div class='[ wrapper ]'>
            <div class='[ layout ] theme--grey'>
                <div class='[ grid ]' >
                    <div class='[ col ] '>
                        <p class='split append append--q-small append--q-medium device__menu' data-append="computer" data-append-medium="tablet" data-append-small="iphone" >

                            &#63743; Fred's awesome
                            <span class='split__right uppercase'>
                                12:00am
                            </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        
    
        {% for item in data %}
            {{ item|component }}
        {% endfor %}
           
        
        
    </div>
   
{% endblock %}
{% block anchor %}
{% endblock %}