{% extends "containers/content-container-half.j2" %}
{% import "macros.j2" as macros %}


{% block header_heading %}

    <div class='global-nav__heading'>

        <a href='/transaction-centre/'>
            Transaction centre
        </a>

    </div>

{% endblock %}



{% block header %}

    {% set headline = title %}
    {{ macros.site_header(breadcrumb, headline, step_name, image, false, "forms") }}

{% endblock  %}



{% block content %}

<div class='[ grid ]'>

    <div class='[ col ]'>
    
        {% for item in items %}
        
            {{ item|children }}
            
            <a class="link-complex{% if not item.url %} link--disabled{% endif %} transaction_links" href="{{ item.url }}">
                <h2 class="link-complex__link">{{ item.name }}</h2>
                <p class="">
                    {% if item.description|iterable %}
                        {% for item in item.description %}
                            {{ item|component }}
                        {% endfor %}
                    {% else %}
                        {{ item.description|safe }}
                    {% endif %}
                </p>
            </a>
          
        {% endfor %}

    </div>

</div>


{% endblock %}


<div class='[ layout layout--half ]'>

    <div class='[ grid ]'>

        <div class='[ col ] '>

            {% for page in dir %}
                <a class="link-complex" href="{{ page.path }}">
                    <h2 class="link-complex__link">{{ page.data['headline'] }}</h2>
                    <p>{{ page.data['stub'] }}</p>
                </a>
            {% endfor %}

        </div>

    </div>
    
</div>
{% block anchor %}
{% endblock %}
