{% extends "template.j2" %}
{% import "macros.j2" as macros %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="/css/style-guide.css">
{% endblock %}

{% block content %}
   

    {% for item in data %}

        {{ item|component }}

    {% endfor %}
       
    
{% endblock %}