{% extends "template.j2" %}
{% set body_class =  'homepage' %}
{% block global_nav %}

    {{ macros.global_nav( "global-nav--home  theme--full-colour ", "", "dark-blue" ) }}

{% endblock %}

{% block header %}

    {#{{ macros.banner("/images/home/banner-bikes.jpg", "A thriving transport network", "Delivering New Zealand ", "theme--family") }}#}

{% endblock %}

{% block content %}

<div class="global-nav theme--dark">

        <div class="[ wrapper ]">

            <div class="[ layout section ]">

                <div class="[ grid grid--middle ]">
                    
                    <div class='[ col large-8 ] '>
                        
                      <h1>
                        Meet Fred, the friendly front-end framework
                      </h1>             
                      
                      <p>
                        Fred helps jump-start your front-end projects. 
                      </p>

                    </div>

                </div>

            </div>

        </div>

    </div>

    <div class="global-nav theme--light">

        <div class="[ wrapper ]">

            <div class="[ layout section ]">

                <div class="[ grid grid--middle ]">
                    
                    <div class='[ col large-8 ] '>
                    
                      <h3>
                        How Fred Works
                      </h3>

                      <p>
                        Fred aims to solve a classic front-end problem: sharing and re-using common components between projects, while allowing each project to retain custom variables and configuration.
                      </p> 

                      <h4>
                        Overview 
                      </h4>

                      <p>
                        This page is a quick overview of the sites bones. Handy for a designer 
                      </p>

                      <h4>
                        Helpers 
                      </h4>

                      <p>
                        Here are some handy little classes that will come in useful when building modules for this site. Handy for  FED
                      </p>

                      <h4>
                        Components
                      </h4>

                      <p>
                        Individual Blocks
                      </p>

                      <h4>
                        Patterns
                      </h4>

                      <p>
                        This is made up of from many components
                      </p>

                    </div>

                </div>

            </div>

        </div>

    </div>

{% endblock %}

{% block footer_links %}
{% endblock %}

{% block anchor %}
{% endblock %}
