{% extends "template.j2" %}
{% set body_class =  'homepage' %}
{% block global_nav %}

    {{ macros.global_nav( "global-nav--home  theme--full-colour ", "", "dark-blue" ) }}

{% endblock %}

{% block header %}

    {#{{ macros.banner("/images/home/banner-bikes.jpg", "A thriving transport network", "Delivering New Zealand ", "theme--family") }}#}

{% endblock %}

{% block content %}

<div class="global-nav theme--dark">

        <div class="[ wrapper ]">

            <div class="[ layout ]">

                <div class="[ grid grid--middle ]">
                    
                    <div class='[ col large-8 ] '>
                        
                      <h1>
                        Meet Fred, the friendly front-end framework
                      </h1>             
                      
                      <p>
                        Fred helps jump-start your front-end projects. 
                      </p>
                      
                      <h3>
                        How Fred Works
                      </h3>

                      <p>
                        Fred aims to solve a classic front-end problem: sharing and re-using common components between projects, while allowing each project to retain custom variables and configuration.
                      </p>
                      
                    </div>

                </div>

            </div>

        </div>

    </div>

{% endblock %}

{% block footer_links %}
{% endblock %}

{% block anchor %}
{% endblock %}
