{% extends "template.j2" %}
{% set body_class =  'homepage' %}
{% block global_nav %}

    {{ macros.global_nav( "global-nav--home  theme--full-colour ", "", "dark-blue" ) }}

{% endblock %}

{% block header %}

    {{ macros.banner("/images/home/banner-bikes.jpg", "A thriving transport network", "Delivering New Zealand ", "theme--family") }}

{% endblock %}

{% block content %}

<div class="theme--neutral">
  <div class='[ wrapper ] ' id=''>
    <div class='[ layout--nudge  ] theme--white'>
      <div class='[ grid large-grid--table  ]'>
        <div class="[ col large-half layout--left section-m content__left ] theme--info ">
          <div class='[ grid large-grid--table ]'>
            <div class="[ col medium-third ] theme--info ">
              <a href='/transaction-centre/' class='action action--green action--bold'>
                <div class="action__icon "> <i class="i i-section-do-it-online"></i>
                </div> <span> 
            Do it online
        </span>
              </a>
            </div>
            <div class="[ col divider-medium medium-two-thirds ] theme--info ">
              <ul class=' list-unstyled list--home'>
                <li> <a href='/transaction-centre/vehicle-registration/'>Relicence your vehicle (rego)</a>
                </li>
                <li> <a href='/transaction-centre/book-a-test/'>Book, change or cancel a driving test</a>
                </li>
                <li> <a href='/transaction-centre/'>Update your address details</a>
                </li>
                <li> <a href='/transaction-centre/'>I’ve sold a vehicle</a>
                </li>
                <li> <a href='/transaction-centre/'><em>Other transactions…</em></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="[ col large-half layout--right section-m content__right ] theme--dark ">
          <div class='[ grid  ]'>
            <div class="[ col medium-third ]  ">
              <a href='/driver-licences/' class='action   '>
                <div class="action__icon "> <i class="i i-section-driver-licences"></i>
                </div> <span> 
            Driver licenses 
        </span>
              </a>
            </div>
            <div class="[ col medium-third ]  ">
              <a href='/vehicle-information/' class='action   '>
                <div class="action__icon "> <i class="i i-section-vehicle-information"></i>
                </div> <span> 
            Vehicle information
        </span>
              </a>
            </div>
            <div class="[ col medium-third ]  ">
              <a href='/traffic/' class='action   '>
                <div class="action__icon "> <i class="i i-section-traffic"></i>
                </div> <span> 
            Traffic and travel
        </span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class='section-m  layout content__bottom'>
        <div class='[ grid  ]'>
          <div class="[ col full-size ] theme--white ">
            <div class='[ grid  ]'>
              <div class="[ col medium-fifth ]  ">
                <a href='/highways-and-roads/' class='action action--dark action--small '>
                  <div class="action__icon "> <i class="i i-section-highways-and-roads"></i>
                  </div> <span> 
            Highways and roads
        </span>
                </a>
              </div>
              <div class="[ col medium-fifth ]  ">
                <a href='/safety/' class='action action--dark action--small '>
                  <div class="action__icon "> <i class="i i-section-safety"></i>
                  </div> <span> 
            Safety
        </span>
                </a>
              </div>
              <div class="[ col medium-fifth ]  ">
                <a href='/commercial-driving/' class='action action--dark action--small '>
                  <div class="action__icon "> <i class="i i-section-commercial-driving"></i>
                  </div> <span> 
             Commercial driving
        </span>
                </a>
              </div>
              <div class="[ col medium-fifth ]  ">
                <a href='/road-eingineering/' class='action action--dark action--small '>
                  <div class="action__icon "> <i class="i i-section-road-engineering"></i>
                  </div> <span> 
            Road engineering
        </span>
                </a>
              </div>
              <div class="[ col medium-fifth ]  ">
                <a href='/media/' class='action action--dark action--small '>
                  <div class="action__icon "> <i class="i i-section-media"></i>
                  </div> <span> 
            Latest media 
        </span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}

{% block footer_links %}
{% endblock %}

{% block anchor %}
{% endblock %}
