{#{% extends "pages/landing-page.j2" %}

{% set navtheme = "theme--home" %}

{% block header_layout %}

<div class="ratio-filmic">#}
    {#<div class=" crop crop--bottom">#}
    {#</div>#}
{#</div>#}


{#<div class=' theme--caravan home__banner'>
    <img src="/images/home/banner-caravan.jpg" class="home__image" alt=""/>

    <div class="[ layout section ]  home__message">
        <div class=" [ grid grid--center ]">
            <div class="col">
                <h4>Wishing New Zealand</h4>
                <h2>
                    Safe journeys over the holidays
                </h2>

                <div class="menu-test">
                    <a href="#"><i class="i i--section i-section-driver-licences"></i>Driver licences</a>
                    <a href="#"><i class="i i--section i-section-vehicle-information"></i>Vehicle information</a>
                    <a href="#"><i class="i i--section i-section-traffic"></i>Traffic</a>
                    <a href="#"><i class="i i--section i-section-highways-and-roads"></i>Highways & roads</a>
                    <a href="#"><i class="i i--section i-section-safety"></i>Safety</a>
                    <a href="#"><i class="i i--section i-section-commercial-driving"></i>Commerical driving</a>
                    <a href="#"><i class="i i--section i-section-road-engineering"></i>Road engineering</a>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}

{% block content %}

<div class="theme--neutral">

<div class="wrapper theme--white layout--nudge">
    <div class=' grid--table'>
        <div class='[ col section  layout--left full large-half ] home__actions theme--info'>

            <div class="grid ">
                <div class="col medium-third">
                    <a href="#" class="action action--green">
                        <div class="action__icon"><i class="i i--action i-section-do-it-online"></i></div>
                        <span>Do it online</span>
                    </a>
                </div>
                <div class="col divider-medium medium-two-thirds">
                    <ul class="list-unstyled">
                        <li><a href="/transaction-centre/vehicle-registration/">Relicence your vehicle (rego)</a></li>
                        <li><a href="/transaction-centre/book-a-test/">Book, change or cancel a driving test</a></li>
                        <li><a href="/transaction-centre/">Update your address details</a></li>
                        <li><a href="/transaction-centre/"> I’ve sold a vehicle</a></li>
                        <li><a href="/transaction-centre/" class="link-more">Other transactions…</a></li>
                    </ul>
                </div>
            </div>
        </div>


        <div class="[ col section layout--right full large-half ] theme--dark">
            <div class="grid grid--center">
                <div class="col medium-third">
                    <a href="/safety/" class="action ">
                        <div class="action__icon"><i class="i i--action i-section-contact-us"></i></div>
                        <span>Contact us</span>
                    </a>
                </div>
                <div class="col medium-third">
                    <a href="/traffic/" class="action">
                        <div class="action__icon"><i class="i i--action i-section-about-us"></i></div>
                        <span>Careers</span>
                    </a>
                </div>
                <div class="col medium-third">
                    <a href="/media/" class="action">
                        <div class="action__icon"><i class="i i--action i-section-media"></i></div>
                        <span>Latest media</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>


{% endblock %}#}

