{% extends "template.j2" %}
{% import "macros.j2" as macros %}
{% import "components/subnav.j2" as subnav %}

{% block content %}



    <div class="theme--mono " style="background: black; padding-bottom: 2em;">


            {% if stub %}
                <div class="wrapper">
                    <div class="layout ">
                        <div class="[ col large-8 ]  ">
                            <p class="intro">
                                {{ stub }}
                            </p>
                        </div>
                    </div>

                </div>
            {% endif %}
    </div>

            {% for child in children %}

                {% if  child.data.priority %}
                    <div class="section {% if  child.data.priority == "secondary" %}theme--light{% else %} theme--mid{% endif %}">
                        <div class="wrapper">
                            <div class="layout grid">
                               <div class="col medium-three-quarters">
                                   {{ subnav.subnav_link(child) }}
                               </div>


                            </div>
                        </div>


                    </div>

                {% endif %}

            {% endfor %}

            {#<div class="[ section layout layout--nudge ] theme--white hatched-line">#}




                {#{{ macros.landing_page_children(children) }}#}

            <div class="theme--white">
                <div class="wrapper">
                    <div class="layout">
                        <div class='tertiary-subnav grid'>

                            {% for child in children %}
                                {% if not child.data.priority %}
                                    <div class="col small-half large-4 subnav subnav--tertiary">
                                        {{ subnav.subnav_link(child) }}
                                    </div>
                                {% endif %}
                            {% endfor %}

                        </div>
                    </div>

                </div>



            </div>
        </div>



{% endblock %}
