{% extends "template.j2" %}
{% import "macros.j2" as macros %}

{% set headertheme = "theme--light" %}
{% block header %}
    {{ macros.site_header(breadcrumb, "Search nzta.govt.nz") }}
           
{% endblock %}





{% block content %}

    <div class="theme--neutral">
        <div class="wrapper ">
            <div class="layout section theme--white layout--nudge  hatched-line">
                <div class="grid">
                    <div class="col">
                        <form action="" method="GET" class=' clearfix'>
                            <p class="site-search-container">
                                 <input placeholder="What are you looking for?" type="text" name="term" class="field--lift field--knockout site-search__input"/>
                                 <button class="[ i i--large i-search i--dark-blue ] site-search__button" type="submit"></button>
                            </p>
                        </form>
                    </div>
                </div>
           


            {% if term %}
            
                <div class="grid">
                    <div class="col">



                            <h3>Results for "{{ term }}":</h3>
                        {% for i in results %}
                            <div>
                                <p class="emphasis">
                                    <strong>
                                        <a href="#">{{ i.title }}</a>
                                    </strong><br>
                                    <span class="search__description">
                                        Description
                                    </span><br>

                                    <a href="#" class="small">http://nzta.govt.nz/{{ i.title|slug }}</a>
                                </p>
                            </div>
                        {% endfor %}


                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block anchor %}
{% endblock %}