{% set body_class = "traffic-info" %}
{% extends "template.j2" %}
{% import "macros.j2" as macros %}


{% block global_nav %}
    {{ macros.global_nav( "theme--full-colour ", "", "dark-blue" ) }}
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
    <div class="section--map-overlays" data-app>
        <div class="map-controls">
            <div class="section--view-type-nav">
                <ul class="map-nav--view-type">
                    <li class="nav__item">
                        <a href="#" class="active" data-traffic-nav="map">Map</a>
                    </li>
                    <li class="nav__item">
                        <a href="#" class="" data-traffic-nav="list">List</a>
                    </li>
                </ul>
            </div>
            <div class="section--map-nav">
                <ul class="map-nav--icon">
                    <li class="map-nav__item">
                        <a href="#" id="zoomIn">
                            <i class="i i-map-plus"></i>
                            <span class="sr-only">Zoom in</span>
                        </a>
                    </li>
                    <li class="map-nav__item">
                        <a href="#" id="zoomOut">
                            <i class="i i-map-minus"></i>
                            <span class="sr-only">Zoom out</span>
                        </a>
                    </li>
                </ul>
                <ul class="map-nav--icon">
                    <li class="map-nav__item">
                        <a href="#" id="locate">
                            <i class="i i-map-compass"></i>
                            <span class="sr-only">Locate</span>
                        </a>
                    </li>
                </ul>
                <ul class="map-nav--icon">
                    <li class="map-nav__item toggle-tools">
                        <a href="#" class="" id="viewOptions">
                            <i class="i i-map-cog"></i>
                            <span class="sr-only">View options</span>
                        </a>
                    </li>
                </ul>
                <ul class="map-nav--tools">
                    <li class="map-nav__item">
                        <label for="map-tools-roadworks" class="icon-text">
                            <i class="i i-map-tools-roadworks"></i>
                            <span>Roadworks</span>
                            <input type="checkbox" id="map-tools-roadworks"/>
                        </label>
                    </li>
                    <li class="map-nav__item">
                        <label for="map-tools-cameras" class="icon-text">
                            <i class="i i-map-tools-cameras"></i>
                            <span>Cameras</span>
                            <input type="checkbox" id="map-tools-cameras"/>
                        </label>
                    </li>
                    <li class="map-nav__item">
                        <label for="map-tools-warnings" class="icon-text">
                            <i class="i i-map-tools-warnings"></i>
                            <span>Warnings</span>
                            <input type="checkbox" id="map-tools-warnings"/>
                        </label>
                    </li>
                    <li class="map-nav__item active">
                        <label for="map-tools-traffic-flow" class="icon-text">
                            <i class="i i-map-tools-traffic-flow"></i>
                            <span>Traffic speed</span>
                            <input type="checkbox" id="map-tools-traffic-flow"/>
                        </label>
                    </li>
                </ul>
            </div>
        </div>
        <div class="list-view" data-region="main"></div>
        <div class="modal-view" data-region="modal"></div>
    </div>

    <div class="section--map">
        <div id="map-canvas"></div>
    </div>
{% endblock %}

{% block header_section %}
{% endblock %}


{% block footer_links %}
{% endblock %}

{% block footer %}
{% endblock %}

{% block anchor %}
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.17&key=AIzaSyDy5-mcVOSDEPHQC5xKZ83pO1KzJOXDLng"></script>
<script src="/js/traffic.js"></script>
{% endblock %}