/* SG
# Utilities/Align

Here are some utility classes to help modify the vertical alignment, text alignment, margins and floats.

```
<h5>Vertical align</h5>
<div class="u-align-middle">
    <img src="https://placekitten.com/200/150" alt="">
    <img src="https://placekitten.com/200/150" alt="">
</div>
<div>
  <img src="https://placekitten.com/200/150">
  <img src="https://placekitten.com/200/150" class="u-align-bottom">
</div>
<br />

<h5>Text align</h5>

<p class="u-text-left" style="background-color:#eee">Left Text</p>
<p class="u-text-right" style="background-color:#eee">Right Text</p>
<p class="u-text-center" style="background-color:#eee">Centered Text</p>
<br />

<h5>Margin center</h5>
<div class="u-auto">
  <img src="https://placekitten.com/200/150" alt="">
</div>
<div class="u-margin-center">
  <img src="https://placekitten.com/200/150" alt="">
</div>

<h5>Floats</h5>
<div class="u-clear">
    <img class="u-left" src="https://placekitten.com/200/150" alt=""/>
    <img class="u-right" src="https://placekitten.com/200/150" alt=""/>
</div>

```
*/


// vertical aligns

.u-align-middle { vertical-align: middle !important; }
.u-align-bottom { vertical-align: bottom !important; }


// margin center
.u-align-auto {
    margin-left: auto !important;
    margin-right: auto !important;
}


// floats
.u-align-left {
    float: left !important;
}

.u-align-right { float: right !important; }

.u-clear {
    clear: both !important;
    overflow: hidden;
    /* add clearfix */
}

//vertical positioning
.u-align-top { vertical-align: top; }
.u-align-middle { vertical-align: middle; }
.u-align-baseline { vertical-align: baseline; }
.u-align-bottom { vertical-align: bottom; }


.u-align-bottom { bottom:0; }
.u-align-top { top:0; }

.u-align-bottom-left {
    bottom:0;
    left:0;
}

.u-align-bottom-right {
    bottom:0;
    right:0;
}

.u-align-top-left {
    top:0;
    left:0;
}

.u-align-top-right {
    top:0;
    right:0;
}
