{% if item.container_padding or item.internal_theme %}
        
    <div class='[ {{item.container_padding}} ] {{ item.internal_theme }}'>

{% endif %}

    <div class='[ grid {{item.grid_modifier}} ]'>
        
        {% for column in item.columns %}
                        
        <div class="[ col{% if item.remove_column_gutters %}--no-gutters{% endif %} {{column_size }}  {{column.column_size}} ] {{column.column_theme}}">
            
            {% if column.content_theme or column.remove_content_gutters or column.content_padding %}
            
            <div class='{% if column.remove_content_gutters %}{% else %}gutters {% endif %} {{column.content_theme}} {{column.content_padding}}'>

            {% endif %}

                {{ column|children }}

            {% if column.content_theme or column.remove_content_gutters or column.content_padding%}
            
            </div>
            
            {% endif %}

        </div>

        {% endfor %}

    </div>

{% if item.container_padding or item.internal_theme %}
        
    </div>

{% endif %}