
<div class='[ grid {{item.grid_modifier}} ] {{item.grid_theme}}'>

    {% for column in item.columns %}
        
    <div class="[  full-width {% if column.remove_gutters %}{% else %}gutters{% endif %} {{ column.column_size}} {{column.column_padding}} {{column.column_theme}} ]">
          
        {{ column|children }}
      
    </div>

    {% endfor %}
    
</div>

