<div class='[ grid {{item.grid_modifier}} ] {{item.grid_theme}}'>

    {% for column in item.columns %}
        
    <div class="[ col medium-third {{column.column_padding}} {{column.column_theme}} ]">
          

        {{ column|children }}
      
    </div>

    {% endfor %}
    
</div>
