{% if item.external_theme %}

<div class='{{item.external_theme}}'>

{% endif %}

    <div class='[ wrapper ]'>
        
        {% if item.container_padding %}
        
        <div class='[ grid ] {{item.container_theme}}'>
            
            <div class='[  full-width {{item.gutters}} {{item.container_padding}} ] '>

        {% endif %}

            <div class='[ grid {{item.grid_modifier }} ] {{item.internal_theme}}'>

                {% for column in item.columns %}

                    <div class="[ {#col#} {{item.gutters}} {{column.column_size }} ] {{column.column_theme }}">

                        {{ column|children }}

                    </div>

                {% endfor %}

            </div>

        {% if item.container_padding %}

            </div>

        </div>

        {% endif %}

    </div>

{% if item.external_theme %}

</div>

{% endif %}