{% if item.external_theme %}

<div class='{{item.external_theme}}'>

{% endif %}

    <div class='[ wrapper ]'>   

        <div class='[ {{item.container_padding}} ] {{item.internal_theme}}'>

            <div class='[ grid {{item.grid_modifier}} ] '>

                {% for column in item.columns %}
                    
                <div class="[ col {{column_size}} ] {{column.content_theme}}">
                      
                    <div class='{{column.content_padding}}'>

                        {{ column|children }}

                    </div>

                </div>

                {% endfor %}
                
            </div>
        
        </div>

    </div>

{% if item.external_theme %}

</div>

{% endif %}