{% if item.external_theme %}

<div class='{{item.external_theme}}'>

{% endif %}

    <div class='[ wrapper ]'>
        
        {% if item.section or item.layout %}

        <div class='[ {{item.section}} {{item.layout}} ] '>

        {% endif %}

            <div class='[ grid {{item.grid_modifier}} ] '>

                <div class='[ col ] '>
                    
                    <div class='{{item.internal_theme}} {{item.content_padding}}'>

                        {{ item|children }}   

                    </div>

                </div>
                
            </div>

        {% if item.section or item.layout %}
        
        </div>
        
        {% endif %}

    </div>

{% if item.external_theme %}

</div>

{% endif %}