{% if item.external_theme %}

<div class='{{item.external_theme}}'>

{% endif %}

    <div class='[ wrapper ]'>
        
        {% if item.section or item.layout %}

        <div class='[ {{item.section}} {{item.layout}} ] '>

        {% endif %}

            <div class='[ grid {{item.grid_modifier }} ]'>
 
                {% for column in item.column_one %}
                    
                <div class="[ col half ] {{column.class }}">
                              
                    <div class='{{column.internal_theme}} {{column.content_padding}}'>

                        {{ column|children }}
                    
                    </div >
                    
                </div>

                {% endfor %}

                {% for column in item.column_two %}
                    
                <div class="[ col half ] {{column.class }}">
                      
                    <div class='{{column.internal_theme}} {{column.content_padding}}'>       
                        {{ column|children }}

                    </div >
                   
                </div>

                {% endfor %}

            </div>
        
        {% if item.section or item.layout %}
        
        </div>
        
        {% endif %}
    </div>

{% if item.external_theme %}

</div>

{% endif %}
