{% if item.external_theme %}

<div class='{{item.external_theme}}'>

{% endif %}

    <div class='[ wrapper ]'>
        
        {% if item.section or item.layout %}

        <div class='[ {{item.container_padding}} ] {{item.internal_theme}}'>

        {% endif %}

            <div class='[ grid {{item.grid_modifier }} ] '>
 
                {% for column in item.columns %}
                    
                <div class="[ col {{column_size | default('medium-half')}} ] {{column.content_theme}} {{column.class }}">
                      
                    <div class='{{column.content_padding}}'>

                        {{ column|children }}

                    </div>

                </div>

                {% endfor %}

            </div>
        
        {% if item.section or item.layout %}
        
        </div>
        
        {% endif %}
    </div>

{% if item.external_theme %}

</div>

{% endif %}
