/**
 * These styles are just related to the fred prototype website so dirty really need to clean this up 
 */


// ----------------------------------------------------------------------------
// Layout blocks
// ----------------------------------------------------------------------------

.grid-debug, .theme--grid-debug { 
    @extend %pt-s; 
    @extend %pb-s; 
    border-right:1px dashed grey;
    &:last-child {
        border-right:none;
    }

    background-color: $ultra-light-grey;
    @extend %mb-l;
    position:relative;

    &:before {
        @include rem('width', 16);
        height:100%; 
        background-color:#004771;
        position:absolute; 
        top:0;
        left:0;
        content:'';
        display:block;

    }
    &:after {
        @include rem('width', 16);
        height:100%; 
        background-color:#004771;
        position:absolute; 
        top:0;
        right:0;
        content:'';
        display:block;
    }
}

.section--debug {
    background-color:#f2f4f7;
    position:relative;
    &:before {
        @include rem('height', 48);
        @include media("small-down") {
           @include rem('height', 20); 
        }
        width:100%; 
        background-color:#004771;
        position:absolute; 
        top:0;
        left:0;
        content:'';
        display:block;
        border-bottom:1px dashed grey;

    }
    &:after {
        @include rem('height', 48);
        @include media("small-down") {
           @include rem('height', 20); 
        }
        width:100%; 
        background-color:#004771;
        position:absolute; 
        bottom:0;
        left:0;
        content:'';
        display:block;
        border-top:1px dashed grey;
    }
}
.layout--debug {
    @extend %pt-s; 
    @extend %pb-s; 
    @extend %mb-m; 
    background-color:#f2f4f7;
    position:relative;
    //box-shadow: 0 0 3px rgba(0,0,0,0.2); 
    &:before {
        @include rem('width', 16);
        @include medium { width:4%; }
        @include large { width:8.3333333%;}
        height:100%; 
        background-color:#004771;
        position:absolute; 
        top:0;
        left:0;
        content:'';
        display:block;
        border-right:1px dashed grey;

    }
    &:after {
        @include rem('width', 16);
        @include medium { width:4%; }
        @include large { width:8.3333333%;}
        height:100%; 
        background-color:#004771;
        position:absolute; 
        top:0;
        right:0;
        content:'';
        display:block;
        border-left:1px dashed grey;
    }
}

.layout-half--debug {
    @extend %pt-s; 
    @extend %pb-s; 
    //box-shadow: 0 0 3px rgba(0,0,0,0.2); 
    background-color:#f2f4f7;
    position:relative;
    &:before {
        @include rem('width', 16);
        @include medium { width:4%; }
        @include large() {
            width: 25%;
        }
        height:100%; 
        background-color:#004771;
        position:absolute; 
        top:0;
        left:0;
        content:'';
        display:block;
        border-right:1px dashed grey;

    }
    &:after {
        @include rem('width', 16);
        @include medium { width:4%; }
        @include large() {
            width: 25%;
        }
        height:100%; 
        background-color:#004771;
        position:absolute; 
        top:0;
        right:0;
        content:'';
        display:block;
        border-left:1px dashed grey;
    }
}
// ----------------------------------------------------------------------------
// Code blocks for pattern lib
// ----------------------------------------------------------------------------

.code-container { @extend %mb-xxxl; }

.styleguide__code,
pre {
    @include rem(border-radius, $space-xxs);
    background-color: #555555;
    border: solid 1px #555555;
    padding: 1em;
    overflow: scroll;
    color: #fff;
    font-size: 13px;
}

code {
    @include rem(border-radius, $space-xxs);
    background-color: #F8FBFC;
    border: solid 1px #DDE7EB;
    padding: .25em .5em;
    margin-left: .25em;
}

pre > code {
    background-color: transparent;
    border: none;
    padding: 0;
}

.styleguide--html {
    color: #9DFFE5;
}


.styleguide__api {    
    @extend %pt-m;
    @extend %pb-m;
    @extend %mt-xxxxl;
    @extend %font-size-s;    
    @extend %bt--primary;
    @extend %bb--primary;
    //@include rem(margin-bottom, 48);
    background-color:#ddd;
}

.styleguide__api, 
.styleguide__example + h4 {
    @extend %mt-m;
    margin-left:-10%;
    margin-right:-10%;
    padding-left:10%;
    padding-right:10%;
    @include media('large-down') {
        margin-left:-4%;
        margin-right:-4%;
        padding-left:4%;
        padding-right:4%;
    }

}
    .styleguide__api__code-view {
        @extend %ml-xxxl;
        @extend %pr-xl;
        @extend %cursor-on-hover;
        @extend %remove-anchor-decoration;
        @extend %relative;

    }
        .styleguide__api__code-view:after,
        .styleguide__api__code-view.showhide-active:after {
            @extend %absolute;
            right:0;
            width:0;
            height:0;
            content:"";
            top:47%;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
        }

        .styleguide__api__code-view:after {
            border-top: 6px solid #236fa6;
        }

        .styleguide__api__code-view.showhide-active:after {
            border-bottom: 6px solid #236fa6;
            border-top: none;
        }


.styleguide__example + h4 {
    @extend %pt-m;
    @extend %bt--primary;
}

// ----------------------------------------------------------------------------
// pills
// ----------------------------------------------------------------------------


.pill {
     border-radius: .25em;

     &:hover {
         color: #fff;
     }
 }

// ----------------------------------------------------------------------------
// anatomy container - fix
// ----------------------------------------------------------------------------

 
    .anatomy-block {
        @extend %relative;
        border-top: 1px dashed $mid-grey;
        margin-top: -1px;

        &:first-child { border-top: none; }
        &:first-child:before {  content: none; }

        &:before {
            @extend %absolute;
            @extend %font-size-xl;
            left:0;
            top: -24px;
            content: 'âœ';
            color: $mid-grey;
        }
        
        img { 
            width:100%; 
            vertical-align: bottom;
        }
    }




// ----------------------------------------------------------------------------
// swatches
// ----------------------------------------------------------------------------
.swatch-container {
    @extend %mb-l;
}
%swatch__top {
    @extend %br-top-xxs; 
    @extend %pt-s;
    @extend %pb-s;   
}

%swatch__bottom {
    @extend %br-bottom-xxs;
    @extend %pt-s;
    @extend %pb-s; 
}

%swatch {
    @extend %br-xxs;
    @extend %pt-s;
    @extend %pb-s;
    @extend %pl-s; 
    @extend %pr-s;  
}
.swatch {
    @extend %swatch;
}
.swatch__top,
.swatch__bottom {   @extend %text-center; }
.swatch__top {      @extend %swatch__top; }
.swatch__bottom {   @extend %swatch__bottom; }

.typography-swatch { 
    @extend %mb-s;
    @extend %mt-s;
    @extend %mb-xl--q-medium-down;
    
}

.theme-swatch, 
.typography-swatch {
    .swatch__top {
        @extend %font-size-xxl;
    }
}

.theme-swatch { @extend %mb-xl; }

.font-bold-italic { font-weight:600; }
.font-normal { font-weight:400; }
.font-light-italic { font-weight:300; }

.font-bold-italic, 
.font-light-italic { font-style:italic;}


.icon-block__item {
    @extend %pt-s;
    @extend %pb-s;
    .swatch__bottom {
        @extend %pt-m;
        @extend %pb-m;
        @extend %font-size-xs;
    }
    .swatch__middle {
        @extend %pt-s;
        @extend %pb-s;
    }
    .swatch__top {
        @extend %pt-xs;
        @extend %pb-xs;
    }
}



// ----------------------------------------------------------------------------
// show hide
// ----------------------------------------------------------------------------

.showhide-hidden { display: none !important; }

.showhide-open { display: block !important; }


.showhide-autoheight {
    transition: height 600ms cubic-bezier(0.455, 0.030, 0.515, 0.955);
    overflow: hidden;
}

    .showhide-autoheight > div {
        -webkit-animation: FadeIn 300ms backwards 500ms cubic-bezier(0.645, 0.045, 0.355, 1);
        -moz-animation: FadeIn 300ms backwards 500ms cubic-bezier(0.645, 0.045, 0.355, 1);
        -ms-animation: FadeIn 300ms backwards 500ms cubic-bezier(0.645, 0.045, 0.355, 1);
        -o-animation: FadeIn 300ms backwards 500ms cubic-bezier(0.645, 0.045, 0.355, 1);
        animation: FadeIn 300ms backwards 500ms cubic-bezier(0.645, 0.045, 0.355, 1);
    }

// ----------------------------------------------------------------------------
// MIsc
// ----------------------------------------------------------------------------
.styleguide-anchors { 

    @extend %pt-xl;

    li { 
        @extend %mt-0;
        @extend %mb-s; 
    }
    ul {
        @extend %mb-0;
    } 
}

//used in typography swatch ?
    .font-size__left {
        @extend %pr-xxl;
        border-right:1px solid #efefef;
        @include media('large-down') {
            border:none;
            @include rem(padding-right, 16);
        }
    }

    .font-size__right {
        @extend %pl-xxl;
        @include media('large-down') {
           @include rem(padding-top, $space-xxl);
           @include rem(padding-left, 16);
        }
    }

    .pill--soft {

        padding:1em; 
        border-radius:0.25em
    }


// ----------------------------------------------------------------------------
// Grid breakpoints
// ----------------------------------------------------------------------------
$im-on-this:#f07e5c;

.im-on-large {
    @include media('large') {
        .swatch__top {
            background-color:$im-on-this;
        }
    } 
}

.im-on-medium {
    @include media('medium-only') {
        .swatch__top {
            background-color:$im-on-this;
        }
    } 
}

.im-on-small {
    @include media('small-down') {
        .swatch__top {
            background-color:$im-on-this;
        }
    } 
}

.breakpoints__swatch {
    @extend %mb-m--q-medium-down;
}


// ----------------------------------------------------------------------------
// lauras little playpen
// ----------------------------------------------------------------------------

.hr--bleed {
    margin-left:-10%;
    margin-right:-10%;
    padding-left:10%;
    padding-right:10%;
    @include media('large-down') {
        margin-left:-4%;
        margin-right:-4%;
        padding-left:4%;
        padding-right:4%;
    }
}


.styleguide__navigation {
    @extend %mb-0;
    li {
        @extend %font-weight-light;
        @extend %pb-xs;

        @extend %pr-m;
    }
}

.navigation__active {
    font-weight:bold;
    color:#fff!important;
}


.header__title {
    @include rem(padding-bottom, 16);
}

.breakpoints__swatch {
    @extend %pb-l;
}
