/*------------------------------------*\
    #PAGE LAYOUT
\*------------------------------------*/

.wrapper {
    @include rem(max-width, 1152);
    margin-left: auto;
    margin-right: auto;
}

.wrapper--medium {
    @include rem(max-width, 960);
    margin-left: auto;
    margin-right: auto;
}

.wrapper--small {
    @include rem(max-width, 800);
    margin-left: auto;
    margin-right: auto;
}

// add different sizes :) 

// ----------------------------------------------------------------------------
// vertical spacing combines padding helpers :) 
// ----------------------------------------------------------------------------


.section-xxxxl, 
.section {
    @extend %pt-xxxxl;
    @extend %pb-xxxxl;

    //responsinate
    @include media("small-down") {
        & {
            @include rem(padding-top, $space-xxxl);
            @include rem(padding-bottom, $space-xxxl);
        }
    }
}

%section-xxxl {
    @extend %pt-xxxl;
    @extend %pb-xxxl;
}

%section-xxl {
    @extend %pt-xxl;
    @extend %pb-xxl;
}

%section-xl {
    @extend %pt-xl;
    @extend %pb-xl;
}

%section-l {
    @extend %pt-l;
    @extend %pb-l;
}

%section-m {
    @extend %pt-m;
    @extend %pb-m;
}

%section-s {
    @extend %pt-s;
    @extend %pb-s;
}

%section-xs {
    @extend %pt-xs;
    @extend %pb-xs;
}

.section-xxxxl { @extend %section-xxxxl;}
.section-xxxl { @extend %section-xxxl;}
.section-xxl { @extend %section-xxl;}
.section-xl { @extend %section-xl;}
.section-l { @extend %section-l;}
.section-m { @extend %section-m;}
.section-s { @extend %section-s;}
.section-xs { @extend %section-xs;}


%remove-section {
    padding-bottom:0;
    padding-top:0;
}



// ----------------------------------------------------------------------------
// horizontal spacing - work on this 
// ----------------------------------------------------------------------------

.layout-xxxxl {
    @extend %pl-xxxxl;
    @extend %pr-xxxxl;

    @include media("small-down") {
        & {
            @include rem(padding-left, $space-xxxl);
            @include rem(padding-right, $space-xxxl);
        }
    }
}

%layout-xxxl {
    @extend %pl-xxxl;
    @extend %pr-xxxl;
}

%layout-xxl {
    @extend %pl-xxl;
    @extend %pr-xxl;
}

%layout-xl {
    @extend %pl-xl;
    @extend %pr-xl;
}

%layout-l {
    @extend %pl-l;
    @extend %pr-l;
}

%layout-m {
    @extend %pl-m;
    @extend %pr-m;
}

%layout-s {
    @extend %pl-s;
    @extend %pr-s;
}

%layout-xs {
    @extend %pl-xs;
    @extend %pr-xs;
}

.layout-xxxxl { @extend %layout-xxxxl;}
.layout-xxxl { @extend %layout-xxxl;}
.layout-xxl { @extend %layout-xxl;}
.layout-xl { @extend %layout-xl;}
.layout-l { @extend %layout-l;}
.layout-m { @extend %layout-m;}
.layout-s { @extend %layout-s;}
.layout-xs { @extend %layout-xs;}























%layout-left {
    padding-left: 1rem;
    @include medium {
        & {
            padding-left: 4em;
        }
    }
    @include large {
        & {
            padding-left: 6em;
        }
    }
}

%layout-right {
    padding-right: 1rem;
    @include medium {
        & {
            padding-right: 4em;
        }
    }
    @include large {
        & {
            padding-right: 6em;
        }
    }
}




.layout {
    @extend %border-box;
    @extend %layout-left;
    @extend %layout-right;
}

.layout--left, 
.col.layout--left { @extend %layout-left; }

.layout--right, 
.col.layout--right { @extend %layout-right; }


.layout--half {
    @include large() {
        padding-left: 25%;
        padding-right: 25%;
    }
}

%remove-layout {
    padding-left:0;
    padding-right:0;
}

/******************************
    layout modifiers
******************************/
.layout--nudge {
    @extend %relative;

    @include large() {
        margin-top: -2em;
    }
    
    + .layout--nudge { margin-top: 0; }
}




%ratio {
    position: relative;
    height: 0;
    & > * {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }
}

.ratio-square {
    @extend %ratio;
    padding-bottom: 100%;
}

.ratio-filmic { @extend %ratio; }

.crop {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
}

    .crop--bottom {
        > img {
            width: 100%;
            position: absolute;
            bottom: 0;
        }
    }



// ----------------------------------------------------------------------------
// widths
// ----------------------------------------------------------------------------


.full-width { width:100% }
.half { width: 50%; }
.third { width: 33.3333333%; }
.two-thirds { width: 66.666666%; }
.quarter { width: 25%; }
.three-quarters { width: 75%; }
.fifth { width: 20%; }


@include small() {
    .small-full-width { width: 100%; }
    .small-half { width: 50%; }
    .small-third { width: 33.3333333%; }
    .small-two-thirds { width: 66.666666%; }
    .small-quarter { width: 25%; }
    .small-three-quarters { width: 75%; }
}

@include medium() {
    .medium-full-width { width: 100%; }
    .medium-half { width: 50%; }
    .medium-third { width: 33.3333333%; }
    .medium-two-thirds { width: 66.666666%; }
    .medium-quarter { width: 25%; }
    .medium-three-quarters { width: 75%; }
    .medium-fifth { width: 20%; }
}

@include large() {
    .large-full-width { width: 100%; }
    .large-half { width: 50%; }
    .large-third { width: 33.3333333%; }
    .large-two-thirds { width: 66.666666%; }
    .large-quarter { width: 25%; }
    .large-three-quarters { width: 75%; }
    .large-fifth { width: 20%; }
}

//10 column grid
$cols-large: 10;

@for $i from 1 to $cols-large+1 {
    $width: #{ (((1/$cols-large) * $i) * 100)  + "%"};
    %small-#{$i} {
      
        width: $width;
        
    }
    .small-#{$i} {
        @extend %small-#{$i};
    }
}

@for $i from 1 to $cols-large+1 {
    $width: #{ (((1/$cols-large) * $i) * 100)  + "%"};
    %medium-#{$i} {
        @include medium() {
            & {
                width: $width;
            }
        }
    }
    .medium-#{$i} {
        @extend %medium-#{$i};
    }
}


@for $i from 1 to $cols-large+1 {
    $width: #{ (((1/$cols-large) * $i) * 100)  + "%"};
    %large-#{$i} {
        @include large() {
            & {
                width: $width;
            }
        }
    }

    .large-#{$i} {
        @extend %large-#{$i};
    }
}