//responsive helpers 
@include media(medium) {
    .append--q-medium {
        &:after{
            content: attr(data-append-medium);
            display: inline-block;
        }
    }
}

@include media(small) {
    .append--q-small {
        &:after{
            content: attr(data-append-small);
            display: inline-block;
        }
    }
}

.text-right--medium {
    @include medium {
        text-align: right;
    }
}







//uwould this be usefull to have in core??

.test {
    content: '';
    width:0;
    height:0;
}







%ratio {
    position: relative;
    height: 0;
    & > * {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }
}

.ratio-square {
    @extend %ratio;
    padding-bottom: 100%;
}

.ratio-filmic { @extend %ratio; }
.crop {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
}

    .crop--bottom {
        > img {
            width: 100%;
            position: absolute;
            bottom: 0;
        }
    }



.left { @extend %left;}
.right { @extend %right;}


.split {
    text-align:left;
    list-style:none;
    margin-left:0;
}
    .split__right {
        text-align:right;
        float:right;
        clear:left;
    }



.device {
    @extend %mb-xxxxl;

    .device__menu {
        @extend %pt-s;
        @extend %pb-s;
        @extend %pl-s;
        @extend %pr-s;
        @extend %mb-0;
        @extend %text-small;
        @extend %theme--grey;
    }
    @extend %theme--dark;
    border-radius: 50px;
    @include media(medium-down) {
        border-radius: 30px;
    }
}
%custom-line-color {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.6) 50%);
}


%section--breakline {
    position:relative;
    $color-section-breakline: #2575AE;

    &:before {
        height: 2px;
        display: block;
        width: 22.5%;
        background: transparentize($color-section-breakline, .5);
        content: '';
        position:absolute;
        top:0;
        left:0;
    }
    &:after {
        display: block;
        content: '';
        background: transparentize($color-section-breakline, .75);
        height: 1px;
        width: 72.5%;
        top:0;
        right:0;
        position:absolute;
    }
}


.code-example {
    @extend %theme--dark; 
    @extend %pt-s; 
    @extend %pb-s;
    @extend %pl-s;
    @extend %pr-s;
}