/*------------------------------------*\
    #PLAYPEN
    The place where we solve design 
    problems without dirtying up the 
    sass structure 
\*------------------------------------*/


.document--overlay:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000;
    opacity: .6;
}

@include at-least("medium") {
    .document--overlay--bps:after {
        display: none;
    }
}


.hatched-line {

    $height-line: 24;
    position: relative;

    &:before {
        position: absolute;
        content: "";
        top: 0;

        @include medium {
            & {
               left: 4%;
            }
        }
        @include large {
            & {
                left: 8.3333333%;
            }
        }
        width: 65%;
        height: 1em;
        background-repeat: repeat-x !important;
        opacity: 1;
        @include up-to(small) {
            content: none;
        }
    }
}


.styleguide__example .access {
    width:100%;
    height:auto;
    position: relative;
}

//clean up from here down :) 
.horizontal-icon-list {
    @extend %mb-0;
    li {
        @extend %mb-l;
    }
}


.back-to-top-anchor {
    @extend %br-top-xxs ;
    background-color: #37b67f;
    padding: 0 1rem;
    right:2em;
    margin-bottom:0;

}

.icon-link i { @extend %mr-m; }
.icon-link--reversed i { @extend %ml-m; }

.header-search {
    @extend %mb-xxxl;
}


.small-list--block {
    @include media('small-down') {
        list-style: none;
        padding-left: 0;

        & > li {
            list-style: none;
            margin:0;
            display: block;
        }
    }
}



.transaction_links {
    @extend %pb-m;
    @extend %bb--primary;
}

.icon-wrapper {
    display:inline-block;
}

.grid.large-grid--table,
.grid.medium-grid--table {
    margin-left:0;
    margin-right:0;
}




.content > {
    &:last-child {
        margin-bottom:0!important;
    }
}



.btn--dark {
    background-color:#293f54;
    color:#fff;
}

//uwould this be usefull to have in core??

.test {
    content: '';
    width:0;
    height:0;
}



.code-example + h3 {
    @extend %mt-xxxl;
}



%ratio {
    position: relative;
    height: 0;
    & > * {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }
}

.ratio-square {
    @extend %ratio;
    padding-bottom: 100%;
}

.ratio-filmic { @extend %ratio; }
.crop {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
}

    .crop--bottom {
        > img {
            width: 100%;
            position: absolute;
            bottom: 0;
        }
    }



.split {
    text-align:left;
    list-style:none;
    margin-left:0;
}
    .split__right {
        text-align:right;
        float:right;
        clear:left;
    }


.device {
    @extend %ml-m;
    @extend %mr-m;
    background-color:#efefef;
    border-color:#555555;
    border-style: solid;
    @include rem('border-left-width', $space-xxxxl);
    @include rem('border-right-width', $space-xxxxl);
    @include rem('border-top-width', $space-xxxxl);
    @include rem('border-bottom-width', $space-xxxxl);
    @extend %mb-xxxxl; 
    @extend %border-box;

    .device__menu {
        @extend %pt-xs;
        @extend %pb-xs;
        @extend %mb-0;
        @extend %text-small;
        border-bottom:1px solid #D6D6D6;

    }

    border-radius: 50px;
    @include media(medium-down) {
        border-radius: 30px;
    }
}


%custom-line-color {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.6) 50%);
}


%section--breakline {
    position:relative;
    $color-section-breakline: #2575AE;

    &:before {
        height: 2px;
        display: block;
        width: 22.5%;
        background: transparentize($color-section-breakline, .5);
        content: '';
        position:absolute;
        top:0;
        left:0;
    }
    &:after {
        display: block;
        content: '';
        background: transparentize($color-section-breakline, .75);
        height: 1px;
        width: 72.5%;
        top:0;
        right:0;
        position:absolute;
    }
}


.code-example {
    @extend %theme--dark; 
    @extend %pt-s; 
    @extend %pb-s;
    @extend %pl-s;
    @extend %pr-s;
}
//fred global menu
a.active {
    color:#37b67f!important;
    font-weight:bold;
}

.pill.active-pill {
    background-color:#37b67f;
    color:#fff!important;
    font-weight:bold;
}


/*------------------------------------*\
    #TRAFFIC - PAGE SPECIFIC 
\*------------------------------------*/

// setup

$color-map-nav: #6b6a6a;
$color-map-nav-hover: #454444;
$color-border: #eeeeee;

$offset-map-top: 7.5em;
$offset-map-top-mobile: 5.5em;
$offset-map-bottom: 1.5em;
$offset-map-side: .75em;


.traffic-info {
//    max-width: 100%;
    & .global-nav {
        position: relative;
        @include up-to(small) {
            @include rem(padding-bottom, 18);
            @include rem(padding-top, 20);
        }
    }
//    & .global-nav > .wrapper {
//        max-width: none;
//    }
    & .global-nav > .wrapper > .layout {
        @include rem(padding-left, 32);
        @include rem(padding-right, 16);
    }
    h1, h2, h3 {
        position: relative;
        @include rem(padding-right, 8);
    }
}


// accessibility

.traffic-info {
    .access:focus,
    .access-keys:target {
        position: fixed;
        z-index: 11;
        top:$offset-map-top - 2em;
        bottom: 0;
        left: 0;
        right: 0;
    }
}




%nav {
    list-style: none;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;
    & > li {
        margin-top: 0;
    }
}

.section--map {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    & > * {
        width: 100%;
        height: 100%;
    }
}


%map-box-shadow {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.4);
}



a {
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}



/*
    map list
*/

$padding-traffic-info-side: 1.5em;
$padding-traffic-info: 1.25em;
$margin-traffic-info-side: 32;


%map-box {
    @extend %map-box-shadow;
    @include vendor(transition, left .25s ease-out);
    @include vendor(border-radius, 2px);
    background-color: #fff;
    z-index: 1;
    position: absolute;
    top: $offset-map-top;
//    min-width: 16em;
//    max-width: 20em;
}

.list-view {

    @extend %map-box;

    @include vendor(border-top-left-radius, 0);
    @include vendor(border-bottom-left-radius, 0);

    bottom: $offset-map-bottom;
    // left: $offset-map-side;

    overflow-x: hidden;
    overflow-y: auto;

    min-width: 20em;
    max-width: 24em;
    width: 40%;

    @include up-to(small) {
        width: 100%;
        @include vendor(border-radius, 0);
        @include rem(padding-bottom, $space-m);
        max-width: none;
        position: relative;
        top: auto;
        bottom: auto;
        display: none;
    }
    .list-active & {
        @include up-to(small) {
            display: block;
        }
    }

}

.modal-view {

    @extend %map-box;

    @include vendor(border-top-left-radius, 0);
    @include vendor(border-bottom-left-radius, 0);

    bottom: $offset-map-bottom;
    // left: $offset-map-side;

    overflow-x: hidden;
    overflow-y: auto;

    min-width: 20em;
    max-width: 24em;
    width: 40%;

//    top: $offset-map-top;
    left: -26em;

//    .modal-active & {
//        left: 4em;
//    }
    @include up-to(small) {
        max-width: none;
        @include vendor(transition, left 0s);
    }

}

.modal-active  {
    & .list-view {
        left: -19em;
        width: 20em;
    }
    & .modal-view {
        left: 2em;
        @include up-to(small) {
            top: $offset-map-top + 1em;
            bottom: 1em;
            left: 1em;
            right: 1em;
        }
    }
}



.traffic-info__nav {
    & .nav__link {
        color: $base-font-color;
        display: block;
        padding: $padding-traffic-info 0 $padding-traffic-info $padding-traffic-info-side;
        text-transform: uppercase;
        & > span {
            display: inline-block;
            vertical-align: middle;
            @include font-size(14);
        }
    }
}



.traffic-info__header {

    @extend %theme--dark;
    @extend %section-top-s;
    @extend %section-bottom-m;

    @include rem(padding-left, $margin-traffic-info-side);
    @include rem(padding-right, $margin-traffic-info-side);

    .breadcrumb {
//        margin-top: 0;
        @include rem(margin-top, 2);
        @include rem(margin-bottom, 8);
        @include rem(padding-right, 96);
//        padding-right: 6rem;
    }
    .breadcrumb + h1 {
        margin-top: 0;
    }
    h1 {
        margin-top: 1.3em;
        @extend %mb-0;
        @extend %font-size-xxl;
    }
    h1 + h2 {
        margin-top: .5em;
    }
    h2 {
        @extend %mb-0;
        @extend %font-size-l;
    }

    .switch-nav {
        margin-top: 1em;
    }

    position: relative;
    width: 100%;

    .level-1 & {
        @include rem(margin-bottom,16);
        &:after {
            position: absolute;
            @include rem(left,$margin-traffic-info-side);
            @include rem(height,16);
            @include rem(bottom,-16);
            right: 0;
            content:"";
            background-repeat: repeat-x !important;
        }
    }
}

.traffic-metrics {
    @extend %section-m;
    margin-left: 1%;
    & > * {
        @extend %inline-block;
        width: 32%;
    }
}
.traffic-messages {
    @extend %section-top-xs;
    @extend %section-bottom-m;
    .list__link + & {
        padding-top: 0;
    }
}
.traffic-metrics + .traffic-messages {
    @include rem(margin-top, -16);
}



.traffic-info__body {

    h5,
    p {
        @extend %mb-0;
        margin-top: .1em;
        @extend %font-size-s;
    }

    // right align pills and icons when following a headline
    h4 {
        @extend %font-size-l;
    }
    h3,
    h4 {
        @extend %mb-0;
        @extend %clearfix;

    }
    h3 {
        @extend %font-size-xl;
        & > i {
            margin-top: 0.2em;
            margin-right: -.5em;
        }
    }

}

.location-list {

    @extend %list--unstyled;

    .level-1 & {
        @include rem(margin-left,$margin-traffic-info-side);
        @include rem(margin-right,$margin-traffic-info-side);
    }
    .level-1 & {
        border-bottom: 1px solid $color-border;
    }
    .level-1 & > .list__item > a {
        @extend %link-hover-color;
        padding-left: 0;
        padding-right: 0;
    }

    & > .list__item {
        margin-top: 0;
    }
    & > .list__item + .list__item {
        border-top: 1px solid $color-border;
    }

    & > .list__item > * {
        @include rem(padding-left,$margin-traffic-info-side);
        @include rem(padding-right,$margin-traffic-info-side);
    }
    & > .list__item.full-width > * {
        padding-left: 0;
        padding-right: 0;
    }

    & > .list__item > a {
        padding-top: $padding-traffic-info;
        padding-bottom: $padding-traffic-info;
    }
    // reduce padding for pills in list
    & .list__link .pill {
        padding: .071428571em .285714286em .142857143em;
    }
    & .list__link {
        display: block;
    }
    h4 {
        margin-bottom: 0;
    }
}


.location-list__split {
    float: right;
}


@import "components/traffic/traffic-nav";
@import "components/traffic/route";
@import "components/traffic/webcam";
@import "components/traffic/switch-nav";



.horizontal-scroll {
    @extend %section-bottom-m;
    width: 100%;
    overflow-y: hidden;
    overflow-x: auto;
}






/*
    custom map icons
*/

.i-map-caret-down,
.i-map-caret-up,
.i-map-plus,
.i-map-minus,
.i-map-compass,
.i-map-cog {
    width: .875em;
    height: .875em;
}

.i-map-tools-cameras,
.i-map-tools-roadworks,
.i-map-tools-warnings {
    @include rem(width,26);
    @include rem(height,34);
    margin-top: -0.2em;
}
.i-map-tools-traffic-flow {
    @include rem(width,20);
    @include rem(height,18);
    @include rem(margin-left,3);
    @include rem(margin-right,3);
}


//custom traffic icons

.i-sh {
    width: 1.625em;
    height: 1.625em;
}
.i-route{
    width: .875em;
    height: 1.25em;
}
.i-twitter,
.i-facebook,
.i-google {
    width: 1.375em;
    height: 1.375em;
}

.i-distance,
.i-speed,
.i-duration {
    width: 1.5em;
    height: 1.5em;
}


// state highway sign
.highway {
    position: relative;
    display: inline-block;

    h1 > &,
    h2 > &,
    h3 > &{
        @extend %font-size-l;
        @extend %font-weight-bold;
        position: absolute;
        @include rem(top,4);
        @include rem(right,-12);
    }
}


    .highway__number {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        text-align: center;
        color: #fff;
    }

    .highway--white .highway__number {
        color: #333;
    }

.view-relative {
    position: relative;
}

.view-absolute {
    position: absolute;
    background: #fff;
    width: 100%;
//    display: none;
}






/**
 *  Traffic animation
**/

$durationTransition: 200ms;
$easingCubic: cubic-bezier(0.645, 0.045, 0.355, 1.000);

@include keyframe(slideInFromRight) {
    0%{
        @include vendor(transform, translateX(100%));
    }
    100%{
        @include vendor(transform, translateX(0%));
    }
}
@include keyframe(slideOutToRight) {
    0%{
        @include vendor(transform, translateX(0%));
    }
    100%{
        @include vendor(transform, translateX(100%));
    }
}
@include keyframe(fadeIn) {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.anim-reveal {
    @include vendor(animation, slideInFromRight $durationTransition both $easingCubic);
}
.anim-slidein {
    @include vendor(animation, slideInFromRight $durationTransition both $easingCubic);
}
.anim-slideout {
    @include vendor(animation, slideOutToRight $durationTransition both $easingCubic);
}


.anim-fadein {
    @include vendor(animation, fadeIn $durationTransition both $easingCubic);
}