/*------------------------------------*\
    #PLAYPEN
    The place where we solve design 
    problems without dirtying up the 
    sass structure 
\*------------------------------------*/

.document--overlay:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000;
    opacity: .6;
}

.hatched-line {

    $height-line: 24;
    position: relative;

    &:before {
        position: absolute;
        content: "";
        top: 0;
        width: 65%;
        height: 1em;
        background-repeat: repeat-x !important;
        opacity: 1;
        @include up-to(small) {
            content: none;
        }
    }
}

//this is to show the access component as the default is hidden 
.styleguide__example .access {
    width:100%;
    height:auto;
    position: relative;
}


.split {
    text-align:left;
    list-style:none;
    margin-left:0;
}

    .split__right {
        text-align:right;
        float:right;
        clear:left;
    }



%section--breakline {
    position:relative;
    $color-section-breakline: #2575AE;

    &:before {
        height: 2px;
        display: block;
        width: 22.5%;
        background: transparentize($color-section-breakline, .5);
        content: '';
        position:absolute;
        top:0;
        left:0;
    }
    &:after {
        display: block;
        content: '';
        background: transparentize($color-section-breakline, .75);
        height: 1px;
        width: 72.5%;
        top:0;
        right:0;
        position:absolute;
    }
}



@import "components/traffic/traffic-nav";
@import "components/traffic/route";
@import "components/traffic/webcam";
@import "components/traffic/switch-nav";


.horizontal-scroll {
    @extend %pb-m;
    width: 100%;
    overflow-y: hidden;
    overflow-x: auto;
}