

// Theme blocks
// ----------------------------------------------------------------------------

$dark-bg-color: #293f54;
$dark-border-color: $dark-bg-color;
$dark-font-color: $white;
$dark-link-color: inherit;

$hot-bg-color: #FF6961;
$hot-border-color: $hot-bg-color;
$hot-font-color: $white;
$hot-link-color: inherit;

//orange
$warm-bg-color: #f07e5c;
$warm-border-color: $warm-bg-color;
$warm-font-color: $white;
$warm-link-color: inherit;

//blue
$cool-bg-color: #779ecb;
$cool-border-color: $cool-bg-color;
$cool-font-color: $white;
$cool-link-color: inherit;

//yellow
$sunny-bg-color: #fdfd96;
$sunny-border-color: $sunny-bg-color;
$sunny-font-color: $white;
$sunny-link-color: inherit;


//green
$fred-bg-color: #37b67f;
$fred-border-color: $fred-bg-color;
$fred-font-color: $white;
$fred-link-color: inherit;

//pink
$soft-bg-color: #F49AC2;
$soft-border-color: $soft-bg-color;
$soft-font-color: $white;
$soft-link-color: inherit;


$theme-names:
  soft,
  cool,
  warm,
  sunny,
  hot,
  fred,
  dark;


$bg-color:
  $soft-bg-color,
  $cool-bg-color,
  $warm-bg-color,
  $sunny-bg-color,
  $hot-bg-color,
  $fred-bg-color,
  $dark-bg-color;

$border-color:
  $soft-border-color,
  $cool-border-color,
  $warm-border-color,
  $sunny-border-color,
  $hot-border-color,
  $fred-border-color,
  $dark-border-color;

$font-color:
  $soft-font-color,
  $cool-font-color,
  $warm-font-color,
  $sunny-font-color,
  $hot-font-color,
  $fred-font-color,
  $dark-font-color;

$link-color:
  $soft-link-color,
  $cool-link-color,
  $warm-link-color,
  $sunny-font-color,
  $hot-font-color,
  $fred-font-color,
  $dark-font-color;

@for $i from 1 through length($theme-names) {

  %theme--#{nth($theme-names, $i)} {

    border-color: nth($border-color, $i);
    background-color: nth($bg-color, $i);
    color: nth($font-color, $i);

    a {
        color: nth($link-color, $i);
    }
  }

  .theme--#{nth($theme-names, $i)} {
    @extend %theme--#{nth($theme-names, $i)};
  }

}
.theme--white {
  background-color:#fff;
  color:#3d4c54;
}

.theme--light {
  background-color:#f0f0f0;
  color:#3d4c54;
}

%theme--grey {
  background-color:#D7D7D7;
  color:#3d4c54;
}

.theme--grey { @extend %theme--grey;}

.theme--music {
  background-color:#fff;
  color:#000;
  h1, h2, h3, h4, h5, a {
    color:#37b67f;
  } 
}

.theme--orange {
  color:#fff;
  background-color:#f5a422;
}

.theme--green {
  color:#fff;
  background-color:#1e9fa3;
}


.theme--black { 
  background-color:#000;
  color:#fff;
  a {
    color:#fff;
  }

}
.theme--springload-green {
    background-color: #98c365;
    color:#fff;
}

.theme--dark-green {
    background-color: darken(#98c365, 10%);
    color:#fff;
}

.theme--red {
  background-color:#d80915;
  color:#fff;
}

.theme--beige {
   background-color:#e5e3de;
   color:#000;
}

.theme--redcross {
  background-color:#fff;
  h1, h2, h3, h4, h5, h6 {
    color:#d80915;
  }
  a {
    color:#d80915;
    text-decoration: underline;
  }
}

.theme--kiwibank {
  background-color:#6aa41e;
  color:#fff;
}


// ----------------------------------------------------------------------------
// Colours
// ----------------------------------------------------------------------------

//bg colours
.bg--black {  background:#000;  }
.bg--white {  background:#fff;  }
.bg--light-blue {background-color:#f6fcfb;}
.bg--dark-grey {background-color:#727375;}


//text colours
.text--muted {  color:grey; }
.text--bright-yellow {color:yellow}
.text--white {color:#fff}
.text--orange {color:#e78547}
.text--red {color:#e2534a}
.text--blue {color:#1392b2}
.text--green {color:#37b67f}


.text--highlight-red {
  @extend %pl-m;
  border:3px solid red;
}

// ----------------------------------------------------------------------------
// Button themes
// ----------------------------------------------------------------------------

//button themes
.btn--dark {
    background-color:#293f54;
    color:#fff;
}

.btn--red {
    background-color:#e2534a;
    color:#fff;
}

.btn--mysuper-green {
    background-color:#5e9b91;
    color:#fff;
}

.btn--primary {  @extend %btn-primary; }
.btn--secondary { @extend %btn-secondary; }
.btn--tertiary { @extend %btn-tertiary; }


%btn-primary {
    background-color: #37b67f;
    color: $white; 
    border: #37b67f;
    &:visited {
        color: $white;
    }
    &:hover {
        background-color: darken(#37b67f, 10%);
        color: $white;
    }
    &:active {
        color:$white;
        background-color: #37b67f;
    }
}

%btn-secondary {

    background: #293f54;
    color: #fff;
    &:visited { color: $base-link-color;}

    &:hover {
        background: darken(#293f54, 10%);
        color:#fff;
    }
    &:active {
        color:$white;
        background: #293f54;
    }
}


%btn-tertiary {
    background: none;
    color: $base-link-color;
    &:visited {
        color: $base-link-color;
    }
}