
// ----------------------------------------------------------------------------
// Font sizing
// ----------------------------------------------------------------------------

%font-size-xxxxl {
    @include rem('font-size', $font-size-xxxxl);
    line-height: $line-height-xxxl;
    @include media('small-down') {
        & {
            @include rem('font-size', $font-size-xxxl);
            line-height: $line-height-xxxl;
        }
    }
}

%font-size-xxxl {
    //@include font-size($font-size-xxxl);
    @include rem('font-size', $font-size-xxxl);
    line-height: $line-height-xxxl;
    @include media('small-down') {
        & {
            @include rem('font-size', $font-size-xxl);
            line-height: $line-height-xxl;
        }
    }
}

%font-size-xxl {
    @include rem('font-size', $font-size-xxl);
    line-height: $line-height-xxl;
    @include media('small-down') {
        & {
            @include rem('font-size', $font-size-xl);
            line-height: $line-height-xl;
        }
    }
}

%font-size-xl {
    @include rem('font-size', $font-size-xl);
    line-height: $line-height-xl;
    @include media('small-down') {
        & {
            @include rem('font-size', $font-size-l);
            line-height: $line-height-l;
        }
    }
}

%font-size-l {
    @include rem('font-size', $font-size-l);
    line-height: $line-height-l;
}

%font-size-m {
    @include rem('font-size', $font-size-m);
    line-height: $line-height-m;
}

%font-size-s {
    @include rem('font-size', $font-size-s);
    line-height: $line-height-s;
}

%font-size-xs {
    @include rem('font-size', $font-size-xs);
    line-height: $line-height-xs;
}


// ----------------------------------------------------------------------------
// Headings
// ----------------------------------------------------------------------------

h1, h2, h3, h4, h5, h6, p, .text, li, code, .intro, ul, li {
    //remove top margin from typographic elements
    @extend %mt-0;
}

h1 {
    @extend %mb-xxxl;
    @extend %font-size-xxxl;
    @extend %font-weight-normal;
}

h2 {
    @extend %mb-m;
    @include media ('small-down') {
        @include rem('margin-bottom', $space-s);
    }
    @extend %font-size-xxl;
    @extend %font-weight-normal;
}

h3 {
    @extend %mb-m;
    @extend %font-weight-bold;
    @extend %font-size-xl;
    @include media ('small-down') { 
        @include rem('margin-bottom', $space-s);
    }
}

h4 {
    @extend %mb-m;
    @include media ('small-down') {
        @include rem('margin-bottom', $space-s);
    }
    @extend %font-size-l;
    @extend %font-weight-bold;
}

h5 {
    @extend %mb-m;
    @include media ('small-down') {
        @include rem('margin-bottom', $space-s);
    }
    @extend %font-size-m;
    @extend %font-weight-bold;
}

h6 {
    @extend %mb-m;
    @include media ('small-down') {
        @include rem('margin-bottom', $space-s);
    }
    @extend %font-size-m;
    @extend %font-weight-normal;
}


// ----------------------------------------------------------------------------
// Body copy
// ----------------------------------------------------------------------------

%body-spacing {
    @extend %mt-0;
    @extend %mb-m;
}

%body-font-size {
    @extend %font-size-m;
    @extend %font-weight-normal; 
}

p, .text, code, ul, ol, td, dl {
    @extend %body-spacing;
}

p, .text, code, dt, dd, td, th {
    @extend %body-font-size;
}

li {
    @extend %font-size-m;
    @extend %mt-xs;
    margin-bottom: 0;
}

.intro {
    @extend %font-size-xl;
    @extend %font-weight-light;
    @extend %mb-m;
    
    &:last-child {
        @extend %mb-xxxl;
    }
}

.emphasis { @extend %font-size-l;}
.small { @extend %font-size-s; }
.tiny { @extend %font-size-xs; }



strong, 
b { @extend %font-weight-bold; }
em, i, cite { @extend %font-italic;}


// ----------------------------------------------------------------------------
// Links
// ----------------------------------------------------------------------------

a {
    outline: 0;
    text-decoration: none;
    color: $base-link-color;
    &:hover {
        color: darken($base-link-color, 10%);
    }
}


// ----------------------------------------------------------------------------
// HR
// ----------------------------------------------------------------------------

hr {
    @extend %mt-xxl;
    @extend %mb-xxl;
    height: 1px;
    border: none;
    background-color: #ddd;
}

















//clean up

// dt, dd, td {
//     @extend %mt-0;
// }


// ----------------------------------------------------------------------------
// Definition lists
// ----------------------------------------------------------------------------

dl dt {
    @extend %left; 
    font-weight: bold;
    @include rem(padding-top, 12);
    @include rem(padding-right, 12);
    @include rem(padding-bottom, 12);
}

dd {
    @extend %bt--primary;  
    @extend %mt-0;
    @extend %ml-0;
    @extend %text-left;
    @include rem(padding-top, 12);
    @include rem(padding-bottom, 12);
    text-align:right;

}

 @include media('small-down') {
     dt {
        border-top: 1px solid $primary-border-color;
        float:none!important;
      
     }
    dd {
         text-align:left!important;
     }
 }


// ----------------------------------------------------------------------------
// blockquote
// ----------------------------------------------------------------------------
blockquote {
    margin:0;
    padding:0;
    @include rem(padding-left, $space-xxl);
    border-left:0 solid $ultra-light-grey;
    @include rem(border-width, $space-xs);
}