/* SG
# Elements/Tables

```
<table>
    <thead>
        <tr>
            <th>Firstname</th>
            <th>Lastname</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Jill</td>
            <td>Smith</td>
        </tr>
    </tobdy>
</table>
```
*/

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

    th {
        text-align: left;
    }
