<div class="t-plain header">

    <div class="[ wrapper ]">

        <div class="[ gutters section--- ]">

            <div class="[ grid grid--middle ]">
                
                <div class='[ width-2/10 width-3/10@small ] '>
                    
                    <a href='/'>
                        <img src='/images/fred-logo.png'>
                    </a>

                </div>

                <div class='[ width-8/10 width-7/10@small ] global-nav__items '>
                    
                    <a href='/bare-bones/' class='btn btn--tertiary {% if title == 'barebones' %}active{% endif %}'>                
                        Bare bones
                    </a>
                    <a href='/utilities/' class='btn btn--tertiary ml-m mb-0 {% if title == 'utilities' %}active{% endif %}'>
                        Utilities
                    </a>
                    <a href='/pattern-library/' class='btn btn--tertiary {% if title == 'flego' %}active{% endif %}'>
                        Flego
                    </a>
                    <a href='/pages/' class='btn btn--tertiary {% if title == 'pages' %}active{% endif %}'>
                        Pages
                    </a>

                </div>
      
            </div>

        </div>

    </div>

</div>