<div class="field--radio-button-group">

    {% include "components/form/field__label.j2" %}

    {% include "components/form/field__note.j2" %}

    <div class="field__input">

        <ul class="segmented-control segmented-control--{{ item.values|length }}-segments">

            {% for obj in item.values %}

                <li>
                    <input type="radio" value="{{ obj.value }}" name="{{ item.name }}" id="{{ item.name }}-{{ obj.value }}"  {% if obj.value == item.default_value %} checked="checked" {% endif %} >
                    
                    <label for="{{ item.name }}-{{ obj.value }}">

                        {{ obj.label }}

                        {% if obj.secondary_label %}

                            <span>
                                {{ obj.secondary_label }}
                            </span>

                        {% endif %}

                    </label>

                </li>

            {% endfor %}

        </ul>

    </div>

</div>