{% if item.errors %}

    {% set errors = "error" %}
    
{% endif %}

<div class="field--email-plus-submit{% if errors %} field--error{% endif %}">

    {% include "components/form/field__label.j2" %}

    <span class="field__input email-wrapper">
        
        <input name="{{ item.name }}" id="{{ item.name }}" type="email" class="{{ item.class }}" {% if item.maxlength %}maxlength="{{item.maxlength}}"{% endif %} value="{{ item.value }}" placeholder="{{ item.placeholder }}" />
        
        <input type="submit" value='{{ item.submit_label }}'>

    </span>

    {% include "components/form/field__note.j2" %}

</div>