{% extends "pages/forms/form.j2" %}

{% block content %}

    <div class='[ grid ]'>

        <div class='[ col ]'>

            <div class='field--details'>
                
                <p>
                    Close your eyes and imagine filling in your credit card details.
                </p>
                
            </div>

            <a class='btn btn--block btn--primary' href='../complete'>
                I’ve finished imagining paying
            </a>

        </div>

    </div>


{% endblock %}