{% extends "pages/forms/form.j2" %}

{% block content %}

    <div class='[ grid ]'>

        <div class='[ col ]'>

            <h2>
                Choose a way to pay
            </h2>
            
            <a class='btn btn--block btn--primary' href='./payment-credit-card'>
                Pay by credit or debit card
            </a>
            <a class='btn btn--block btn--secondary' href='./payment-internet-banking'>
                Pay by internet banking
            </a>
            
        </div>

    </div>


{% endblock %}