{% extends "pages/forms/form.j2" %}

{% block content %}

    <div class='[ grid ] '>

        <div class=' [ col ]'>

            <h2>
                Pay by credit card
            </h2>

            <div class='field--details'>
                
                <p>
                    You’ll go to the secure Westpac Bank website to complete your payment (Westpac is our government bank). You’ll return to this transaction when you’ve completed payment.
                </p>

                <ul class='list'>
                    
                    <li>
                        You’ll need a <strong>credit or debit card.</strong>
                    </li>

                    <li>
                        You’ll be charged <strong>$284.45.</strong>
                    </li>

                </ul>

            </div>

            <a class='btn btn--block btn--primary' href='./bank'>
                Proceed to payment
            </a>

        </div>

    </div>

{% endblock %}


