/*------------------------------------*\
    #BUTTONS
\*------------------------------------*/


$btn--x-small:1.75rem;
$btn--small: 2rem;
$btn--medium:2.5rem;
$btn--large:2.75rem;
$btn--x-large:3rem;


%btn {
    @extend %remove-anchor-decoration;
    @extend %text-center;
    @extend %inline-block;
    @extend %border-box;
    @extend %mt-0;
    @extend %pl-m;
    @extend %pr-m;
    @extend %pb-0;
    @extend %pt-0;
    line-height:$btn--medium;
    white-space: nowrap;
    border: none;
    cursor:pointer;
    font-family: inherit;
    //color: inherit;
    text-decoration: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    font-size: inherit;

    &:hover {
        text-decoration: none;
    }
}


// buttons
.btn, 
button {
    @extend %btn;
    @extend %mb-m;
}

.btn.btn-placeholder {}



button {
    appearance: none;
    background-color: transparent;
}

.btn + .btn {  @extend %ml-m; }


.btn--block + .btn--block { margin-left:0; }

/*********************************
    Pill/softness modifier
********************************/
%btn--soft {
    @include rem(border-radius, $space-xxs);
}

.btn--soft {
   @extend %btn--soft;
}



/*********************************
    block modifier
********************************/

%btn--block {
    @extend %first-child-no-top;
    @extend %mt-m;
    display: block;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}

.btn--block {
    @extend %btn--block;
}

 /*****************************************************************************
    Make a button behave like a block at mobile only (also handy)
****************************************************************************/

@include media(small-down) {
    .btn--block-mobile {
        text-align: center;
        display: block;
    }
}
/**

### Buttons in forms

Try and avoid using `<input type='submit' value='Go'>` in favour of
`<button type='submit'>Go</button>` as it's easier to style.
*/


%btn--submit {
    @extend %btn;
    @extend %btn--block;
    @extend %btn--soft;
    @extend %btn-primary;
    @extend %cursor-on-hover;
}


.btn--submit { @extend %btn--submit;}


/*********************************
    bounce modifier
*********************************/
%btn--bounce {
    position: relative;
    top: 0;

    &:hover {    
        top: .1em; 
    }
}

.btn--bounce {  @extend %btn--bounce; }


/*********************************
    Size modifiers
*********************************/
.btn.btn--x-small {
    @extend %pl-xs;
    @extend %pr-xs;
    @extend %font-size-s;
    line-height:$btn--x-small;
}

.btn.btn--small {
    @extend %pl-s;
    @extend %pr-s;
    @extend %font-size-s;
    line-height:$btn--small;
}

.btn.btn--large {
    @extend %pl-l;
    @extend %pr-l;
    line-height:$btn--large;
}

.btn.btn--x-large {
    @extend %font-size-l;
    @extend %pl-xl;
    @extend %pr-xl;
    line-height:$btn--x-large;
}