/* SG
# Components/Avatar

Use the "avatar" class to transform your image to a circular image.
To modify avatar you can add the modifiers listed below:

```
<img class="avatar" src="https://placekitten.com/150/150">
<img class="avatar avatar--large" src="https://placekitten.com/150/150">
<img class="avatar avatar--small" src="https://placekitten.com/150/150">
```
*/

$avatar-size:       $base-spacing-unit * 3;
$avatar-size-large: $avatar-size * 2;
$avatar-size-small: $avatar-size / 2;

.avatar {
  display: block;
  width:  $avatar-size;
  height: $avatar-size;
  border-radius: 100%;
}

//  Modifiers
// -----------------------------------------------------------------------------

	.avatar--small {
	  width:  $avatar-size-small;
	  height: $avatar-size-small;
	}

	.avatar--large {
	  width:  $avatar-size-large;
	  height: $avatar-size-large;
	}
