/* SG
# Components/Page sections

Determines the vertical spacing of the site.

```
<div style="background-color:#0F984F">
    <div class="section">
        <p class="u-text-center" style="background-color:green">Section</p>
    </div>
</div>
<h5>1. section--no-top</h5>
<p>Removes the top padding.</p>
<div style="background-color:#0F984F">
    <div class="section section--no-top">
        <p class="u-text-center" style="background-color:green">Section</p>
    </div>
</div>
<h5>2. section--no-bottom </h5>
<p>Removes the bottom padding.</p>
<div style="background-color:#0F984F">
    <div class="section section--no-bottom">
        <p class="u-text-center" style="background-color:green">Section</p>
    </div>
</div>
<h5>3. section--stacked</h5>
<p>If there is multiple sections stacked on top of each other it removes the top padding.</p>

<div class="section section--stacked ]' style="background-color:#0F984F">
    <p class="u-text-center" style="background-color:green">Section</p>
</div>
<div class="section section--stacked ]' style="background-color:#0F984F">
    <p class="u-text-center" style="background-color:green">Section</p>
</div>
<h5>4. section-overlap--top </h5>
<p>Removes the bottom padding.</p>
<div style="background-color:#0F984F">
    <div class="section">
        <p class="u-text-center" style="background-color:green">Section</p>
    </div>
</div>
<div style="background-color:orange; opacity:0.7">
    <div class="section section-overlap--top">
        <p class="u-text-center" style="background-color:green">Section</p>
    </div>
</div>
```
*/

// Smaller Spacing
$section-xxs: ($section-spacing *.25);    // 6px
$section-xs: ($section-spacing *.5);      // 12px
$section-s: ($section-spacing - .5);      // 16px
//defined in base
$section: $section-spacing;
// Larger Spacing
$section-l: ($section-spacing + .5);      // 32px
$section-xl: ($section-spacing + 1);      // 40px
$section-xxl: ($section-spacing + 2.5);   // 64px

.section {
    padding-top: $section-spacing;
    padding-bottom: $section-spacing;
}

    .section--stacked {
        & + & {
            padding-top: 0;
        }
    }

    .section--no-top {
        padding-top: 0;
    }

    .section--no-bottom {
        padding-bottom: 0;
    }

    //if you wanted to overlap another section then you can use a class like this
    .section-overlap--top {
        margin-top: -1rem;
    }

//section sizees
.section\+\+ { 
    padding-top: $section-xl;
    padding-bottom: $section-xl;
}
.section\+ { 
    padding-top: $section-l;
    padding-bottom: $section-l;
}
.section\-  { 
    padding-top: $section-s;
    padding-bottom: $section-s;
}
.section\-\-  { 
    padding-top: $section-xs;
    padding-bottom: $section-xs;
}
.section\-\-\-  { 
    padding-top: $section-xxs;
    padding-bottom: $section-xxs;
}

