/* SG
# Components/Page header

```
<div class="page-header">
    Page header
</div>
```
*/

$height-logo: 2.25rem;

$height-header: $height-logo + (2 * $grid-spacing);


.page-header {
    @include clearfix;
}

    //page header modifier fixes the header in place
    .page-header--fixed {
        position: fixed;
        z-index: 10;
        height: $height-header;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        + * {
            margin-top: $height-header;
        }
    }
