/*------------------------------------*\
    #GLOBAL NAV
\*------------------------------------*/
.global-nav__items   {
        
    & > * {
        @extend %right;
    }
}


%nav_item {
    @extend %remove-anchor-decoration;
    @extend %text-center;
    @extend %inline-block;
    @extend %border-box;
    @extend %mt-0;
    @extend %mb-0;
    @extend %pl-m;
    @extend %pr-0;
    @extend %pb-0;
    @extend %pt-0;
    line-height:$btn--medium;
    white-space: nowrap;
    border: none;
    cursor:pointer;
    font-family: inherit;
    text-decoration: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    &:hover {
        text-decoration: none;
    }
}

.nav_item {

    @extend %nav_item;

    &.small {
        @extend %pl-s;
    }

    &.theme {
        @extend %pr-m;
        @extend %ml-m;
        &.small {
            @extend %ml-s;
            @extend %pr-s;
        }
    }
    
    & +  .nav_item {
        @extend %ml-0;
        @extend %mr-m;
    }
}