%link-underline {
    text-decoration: underline;
    @extend %underline-on-hover;
}

%underline-on-hover {
    &:hover{
        text-decoration:underline;
    }
}


.link-more {
    //font-weight: normal;
    font-style: italic;
    &:after {
        content: "...";
    }
}


.linedText {
    border-bottom: 1px dashed;
    text-decoration: none;
    background-color: #ffffff;
    background: linear-gradient(top, #000000 0%, #ffffff 1%) 0 -1px;
    -webkit-background-size: 100% 24px;
    -moz-background-size: 100% 24px;
    -ms-background-size: 100% 24px;
    -o-background-size: 100% 24px;
    background-size: 100% 24px;
}

%link-hover-color {
    &:hover {
        color: darken($base-link-color, 10%);
//        @include custom-line-color--modified(darken($base-link-color, 10%));

        &.link--action  > div {
            background-color: darken($base-link-color, 5%);
        }
        & .nav-main__icon > i {
            background-color: darken($color-bg-header, 4%);
        }
    }
}

%custom-line-color {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.6) 50%);
}

%custom-line {
    text-decoration: none;
    background-repeat: repeat-x;
    background-size: .125em .125em;
}

%underline {
    @extend %custom-line;
    background-position: 0 100%;
}