{% extends "/pattern-library/index.j2" %}
{% import "macros.j2" as macros %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="/css/style-guide.css">
{% endblock %}


{% block content %}

    <div class='theme--neutral'>

        <div class='[ wrapper ]'>

            <div class='styleguide-anchors'>

                <div class='[ grid ]'>
          
                    <ul class='[ col ] nav'>
                        <li>
                            <a class='font-bold pill'>
                               Filter:
                            </a>
                        </li>
                        <li>
                            <a href='#simple' class='pill pill--white'>
                               simple
                            </a>
                        </li>
                        <li>
                            <a href='#block' class='pill pill--white'>
                               block 
                            </a>
                        </li>
                        <li>
                            <a href='#mobile-block' class='pill pill--white'>
                               mobile block
                            </a>
                        </li>
                        <li>
                            <a href='#icon-and-text' class='pill pill--white'>
                               icon and Text 
                            </a>
                        </li>
                        <li>
                            <a href='#icon-only' class='pill pill--white'>
                               icon only
                            </a>
                        </li>

                        <li>
                            <a href='#action-links' class='pill pill--white'>
                               action links
                            </a>
                        </li>

                        <li>
                            <a href='#anchor-links' class='pill pill--white'>
                               anchor links
                            </a>
                        </li>

                    </ul>
                  
                </div>

            </div>

        </div>

    </div>

    <div class='theme--neutral'>

        <div class='wrapper'>

            {% for item in data %}
                {{ item|component }}
            {% endfor %}
        </div> 

    </div>
    
{% endblock %}