{% extends "template.j2" %}
{% set page = title %}

{% block stylesheets %}

    <link rel="stylesheet" type="text/css" href="/css/style-guide.css">

{% endblock %}


{#{% block header %}
    {{ macros.site_header(breadcrumb, headline, false, false, true, "fullwidth", page) }}
{% endblock  %}#}


{% block content %}

    <div class='[ wrapper ]'>

        <div class='[ gutters section ] t-plain'>

            {% for item in data %}
                {{ item|component }}
            {% endfor %}

        </div>

    </div> 

{% endblock %}


