{% extends "/pattern-library/index.j2" %}
{% import "macros.j2" as macros %}

{% block stylesheets %}

    <link rel="stylesheet" type="text/css" href="/css/style-guide.css">

{% endblock %}


{% block content %}

    <div class='theme--neutral'>

        <div class='[ wrapper ]'>

            <div class='styleguide-anchors'>

                <div class='[ grid ]'>
         
                    <ul class='[ col ] nav'>
                        <li>
                            <a class='font-bold pill'>
                                Filter:
                            </a>
                        </li>

                        <li>
                            <a href='#field-details' class='pill pill--white'>
                                Field details
                            </a>
                        </li>

                        <li>
                            <a href='#number-input' class='pill pill--white'>
                                Number input
                            </a>
                        </li>

                        <li>
                            <a href='#text-input' class='pill pill--white'>
                                Text input
                            </a>
                        </li>

                        <li>
                            <a href='#email-input' class='pill pill--white'>
                                Email input
                            </a>
                        </li>

                        <li>
                            <a href='#email-input-with-button' class='pill pill--white'>
                                Email input with button
                            </a>
                        </li>

                        <li>
                            <a href='#radio-button-list' class='pill pill--white'>
                                Radio button list
                            </a>
                        </li>

                        <li>
                            <a href='#prev-next-buttons' class='pill pill--white'>
                                Previous/next buttons
                            </a>
                        </li>

                        <li>
                            <a href='#radio-button-group' class='pill pill--white'>
                                Radio button group
                            </a>
                        </li>

                        <li>
                            <a href='#submit-button' class='pill pill--white'>
                                Submit button
                            </a>
                        </li>

                    </ul>

                </div>

            </div>

        </div>

    </div>

    <div class='theme--neutral'>
        
        <div class='wrapper'>

            {% for item in data %}
                {{ item|component }}
            {% endfor %}

        </div>

    </div>

{% endblock %}