{% extends "/pattern-library/index.j2" %}
{% import "macros.j2" as macros %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="/css/style-guide.css">
{% endblock %}


{% block content %}

    <div class='theme--neutral'>

        <div class='[ wrapper ]'>

            <div class='styleguide-anchors'>

                <div class='[ grid ]'>
          
                    <ul class='[ col ] nav'>

                        <li>
                            <a class='pill font-bold'>
                               Filter:
                            </a>
                        </li>

                        <li>
                            <a href='#grid-rules' class='pill pill--white'>
                               Grid rules
                            </a>
                        </li>

                        <li>
                            <a href='#grid-types' class='pill pill--white'>
                               Grid types
                            </a>
                        </li>

                        <li>
                            <a href='#nested-grid' class='pill pill--white'>
                               Nested grids
                            </a>
                        </li>

                        <li>
                            <a href='#grid-modifiers' class='pill pill--white'>
                               Grid modifiers
                            </a>
                        </li>
                        
                    </ul>
                  
                </div>

            </div>

        </div>

    </div>

    <div class='theme--neutral'>

        <div class='wrapper'>

            {% for item in data %}
                {{ item|component }}
            {% endfor %}
        </div> 

    </div>
    
{% endblock %}