<div class='[ grid ]'>

    <div class='[ col ]'>
    
        <ul class='list--inline styleguide__navigation'>
        
            <li>
                <a href='/pattern-library/type/' class='{% if item.title == "type" %} navigation__active{% endif %}'>
                    Type
                    <i class='arrow arrow-bottom'></i>
                </a>
            </li>
            

            <li>
                <a href='/pattern-library/ui-components/' class='{% if item.title == "components" %} navigation__active {% endif %}'>
                    Components
                    <i class='arrow arrow-bottom'></i>
                </a>
            </li>

            <li>
                <a href="/pattern-library/grid/" class="{% if item.title == 'grid' %}navigation__active{% endif %}">
                    Grid
                    <i class="arrow arrow-bottom"></i>
                </a>
            </li>
           
            <li>
                <a href="/pattern-library/forms/" class='{% if item.title == "forms" %} navigation__active{% endif %}'>
                    Forms
                    <i class="arrow arrow-bottom"></i>
                </a>
            </li>
            <li>
                <a href='/pattern-library/patterns/' class='arrow--center{% if item.title == "patterns" %} navigation__active {% endif %}'>
                    Patterns
                    <i class='arrow arrow-bottom'></i>
                </a>
            </li>
            <li>
                <a href='/pattern-library/buttons/' class='arrow--center{% if item.title == "buttons" %} navigation__active {% endif %}'>
                    Buttons
                    <i class='arrow arrow-bottom'></i>
                </a>
            </li>
            <li>
                <a href='/pattern-library/gallery/' class='arrow--center{% if item.title == "gallery" %} navigation__active {% endif %}'>
                    Gallery
                    <i class='arrow arrow-bottom'></i>
                </a>
            </li>

            <li>
                <a href='/pattern-library/layout/' class='arrow--center{% if item.title == "layout" %} navigation__active {% endif %}'>
                    Layout
                    <i class='arrow arrow-bottom'></i>
                </a>
            </li>
            
        </ul>

    </div>

</div>
