<div class="{{ item.external_theme }}">

    <div class="[ wrapper ] ">

        {% if item.container_padding or item.internal_theme %}
        
            <div class='[ {{item.container_padding}} ] {{ item.internal_theme }}'>

        {% endif %}

            <div class="[ grid grid--middle ] ">
                
                <div class='[ col small-2 ] {{item.left_column_padding}} '>
                    
                    <a href='/' class='i i-{{ item.logo }}' accesskey="h">
                        <span class="sr-only">{{item.text}}</span>
                    </a>

                </div>

                <div class='[ col small-8 ] global-nav__items {{item.right_column_padding}} small'>

                    {% for page in item.pages %}
                        
                        <a data-navigation href='{{page.href}}' class="nav_item {% if page.uppercase%}uppercase{% endif %} {% if page.title_color %}text--{{page.title_color}}{% endif %} {% if page.btn_theme %}theme btn--{{page.btn_theme}}{% endif %} {% if item.small_text %}small{% endif %}" >
            
                            {% if page.svg %}

                                <i class="i i-{{page.svg}} i--{{ page.svg_color }} "></i>

                            {% endif %}

                            {{page.title}} 
                
                        </a>

                    {% endfor %}
                    
                </div>
      
            </div>

        {% if item.container_padding or item.internal_theme %}
        
            </div>
            
        {% endif %}

    </div>

</div>