{% extends "containers/content-container-wide.j2" %}
{% import "macros.j2" as macros %}


{% block header %}

    {{ macros.site_header(breadcrumb, "404 - not found") }}  

{% endblock %}


{% block messages %}

    {% set message = {"body":"Ooops, {{ url }} isn't here:"} %}

    {{ macros.message(message, "theme--error") }}

{% endblock %}



{% block content %}

    <div class="[ grid ]">
        <div class="col">
            <p>
                <a href="/">Go home</a>
            </p>
        </div>
    </div>
           
{% endblock %}