
<div class='[ wrapper ] section--nav' id='menu'>
  <div class='[ layout section--nav__content  ] theme--white'>
    <div class='[ grid medium-grid--table ]'>
      <div class="[ col section col large-half medium-third ]  nav-main">
        <div class='[ grid  ]'>
          <div class="[ col large-half ]  ">
            <a href='/' class='action action--dark action--tiny action--horizontal action--bold'>
              <div class="action__icon "> <i class="i i-section-home"></i>
              </div> <span> 
            Home
        </span>
            </a>
          </div>
          <div class="[ col large-half ]  ">
            <a href='/driver-licences/' class='action action--dark action--tiny action--horizontal action--bold'>
              <div class="action__icon "> <i class="i i-section-driver-licences"></i>
              </div> <span> 
            Driver licenses 
        </span>
            </a>
          </div>
          <div class="[ col large-half ]  ">
            <a href='/traffic/' class='action action--dark action--tiny action--horizontal action--bold'>
              <div class="action__icon "> <i class="i i-section-traffic"></i>
              </div> <span> 
             Traffic and travel 
        </span>
            </a>
          </div>
          <div class="[ col large-half ]  ">
            <a href='/vehicle-information/' class='action action--dark action--tiny action--horizontal action--bold'>
              <div class="action__icon "> <i class="i i-section-vehicle-information"></i>
              </div> <span> 
            Vehicle information
        </span>
            </a>
          </div>
          <div class="[ col large-half ]  ">
            <a href='/highways-and-roads/' class='action action--dark action--tiny action--horizontal action--bold'>
              <div class="action__icon "> <i class="i i-section-highways-and-roads"></i>
              </div> <span> 
            Highways and roads
        </span>
            </a>
          </div>
          <div class="[ col large-half  ]  ">
            <a href='/safety/' class='action action--dark action--tiny action--horizontal action--bold'>
              <div class="action__icon "> <i class="i i-section-safety"></i>
              </div> <span> 
            Safety
        </span>
            </a>
          </div>
          <div class="[ col large-half  ]  ">
            <a href='/commercial-driving/' class='action action--dark action--tiny action--horizontal action--bold'>
              <div class="action__icon "> <i class="i i-section-commercial-driving"></i>
              </div> <span> 
             Commercial driving
        </span>
            </a>
          </div>
          <div class="[ col large-half ]  ">
            <a href='/road-eingineering/' class='action action--dark action--tiny action--horizontal action--bold'>
              <div class="action__icon "> <i class="i i-section-road-engineering"></i>
              </div> <span> 
            Road engineering
        </span>
            </a>
          </div>
        </div>
      </div>
      <div class="[ col full-width medium-third large-quarter ] theme--info nav-transaction section">
        <div class='[ grid  ]'>
          <div class="[ col full-size ]  ">
            <a href='/transaction-centre/' class='action action--green action--tiny action--horizontal action--bold'>
              <div class="action__icon "> <i class="i i-section-do-it-online"></i>
              </div> <span> 
            Do it online
        </span>
            </a>
          </div>
          <div class="[ col full-size ]  ">
            <ul class=' nav-list'>
              <li> <a href='/transaction-centre/vehicle-registration/start'>Relicence your vehicle (rego)</a>
              </li>
              <li> <a href='/transaction-centre/book-a-test/'>Book, change or cancel a driving test</a>
              </li>
              <li> <a href=''>Update your address details</a>
              </li>
              <li> <a href=''>I’ve sold a vehicle</a>
              </li>
              <li> <a href=''><em>Other transactions…</em></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="[ col large-quarter medium-third ]  section nav-about">
        <div class='[ grid  ]'>
          <div class="[ col  ]  ">
            <a href='/about-us/' class='action  action--tiny action--horizontal action--bold'>
              <div class="action__icon "> <i class="i i-section-about-us"></i>
              </div> <span> 
            About us
        </span>
            </a>
          </div>
          <div class="[ col  ]  ">
            <a href='/contact-us/' class='action  action--tiny action--horizontal action--bold'>
              <div class="action__icon "> <i class="i i-section-contact-us"></i>
              </div> <span> 
            Driver licenses 
        </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>