// ============================================================================
// Site colors
// ============================================================================


//  Brand
// -----------------------------------------------------------------------------
$color-brand-primary:               	#0F984F;
$color-brand-primary-highlight:     	lighten($color-brand-primary, 5%);
$color-brand-primary-shadow:        	darken($color-brand-primary,  5%);

$color-brand-secondary:             	#c1813d;
$color-brand-secondary-highlight:   	lighten($color-brand-secondary, 5%);
$color-brand-secondary-shadow:      	darken($color-brand-secondary,  5%);


// Common
// -----------------------------------------------------------------------------
$color-black:                       	#000;
$color-white:                       	#fff;
$color-grey-dark: 						#333;
$color-grey-light:                        #666;

// Page
// -----------------------------------------------------------------------------
$color-page-text:                   	$color-grey-dark;
$color-page-links:                  	inherit;
$color-page-background:             	#fff;


// Accesibility
// -----------------------------------------------------------------------------
$color-focus:                      		#6cc6ee;
$color-select:                     		#e5e5e5;


// Opacity
// -----------------------------------------------------------------------------
$color-white-opacity-01: rgba(0, 0, 0, .1);


// Buttons
// -----------------------------------------------------------------------------
$color-btn:                             $color-page-text;
$color-btn-border:                      $color-page-text;
$color-btn-background:                  #fff;
$color-btn-hover:                       #fff;
$color-btn-background-hover:            $color-page-text;


// Radio picker
// -----------------------------------------------------------------------------
$color-radio-picker-border: 			#dfdfdf;
$color-radio-picker-border-checked: 	#d2d2d2;
$color-radio-picker-bg: 				#eaeaea;
$color-radio-picker-bg-hover: 			#fafafa;
$color-radio-picker-bg-checked: 		#fff;

// Modals
// -----------------------------------------------------------------------------
$color-modal-control-bg: 				#333;
$color-modal-control-text: $color-page-text;
$color-modal-content-bg: 				#fff;

// Table
// -----------------------------------------------------------------------------
$color-table-border: 					#0F984F;
$color-table-stripe: 					#F4FFFF;


// Pagination
// -----------------------------------------------------------------------------
$color-pagination:                      $color-white;
$color-pagination-border:               $color-pagination;
$color-pagination-bg:                   $color-brand-primary;
$color-pagination-bg-hover:             $color-brand-primary-shadow;
$color-pagination-bg-current:           $color-brand-primary-highlight;

// Forms
// -----------------------------------------------------------------------------
//todo clean up naming convention is wrong
// $base-form-color:					#ccc;
// $base-form-color-border: 			#ccc;
// $input-text-color:              #668 !default;
// $input-text-color-border-hover: rgba(39,41,43,.6) !default;
// $input-text-color-bg:           #FFF !default;
// $input-text-color-shadow:       rgba(0, 137, 91, .6) !default;


// $input-radio-color-bg:          $base-form-color !default;
// $input-radio-color-border:      $base-form-color-border !default;

// $input-checkbox-color-border:      rgb(192,192,192) !default;
// $input-checkbox-color-bg:          rgb(224,224,224);
