
{% for action in item.action %}

    <a href='{{ action.href }}' class='action {{ action.theme }} {{ action.size }} {% if action.horizontal %}action--horizontal{% endif %}{% if action.horizontal %} action--bold{% endif %}'>

        <div class="action__icon ">

            <i class="i {{ action.icon }}"></i>

        </div>

        <span> 
            {{ action.text }}
        </span>

    </a>
    
{% endfor %}