{% if item.external_theme %}

<div class='{{item.external_theme}}'>

{% endif %}

    <div class='[ wrapper ]'>

        <div class='[ pt-xxxxl layout ] {{item.internal_theme}}'>

            <div class='[ grid ]'>

                <div class='[ col ]'>
                    
                    {% if item.title %}

                    <h2 class='text-center font-light pb-m'>
                        {{ item.title }}
                    </h2>

                    {% endif %}
                    <img src="{{ item.img.src }}" class="img--responsive align--bottom" alt="{{ item.img.alt }}"/>

                </div>

            </div>

        </div>

    </div>

{% if item.external_theme %}

</div>

{% endif %}