<div class='section--header theme--banner'>
    
    <div class='{{ item.theme }} home__banner'>

        <img src="{{ item.img }}" class="home__image" alt=""/>

        <div class="[ layout section ] home__message">

            <div class=" [ grid grid--center ]">

                <div class="col">

                    <h4>
                        {{ item.subtitle }}
                    </h4>

                    <h1>
                        {{ item.title }}
                    </h1>

                </div>

            </div>

        </div>

    </div>

</div>