<div>
<pre style='margin-bottom:0;'>{% for item in item.data %}{{ item }}{% endfor %}</pre>
</div>
<p class='tiny mt-m uppercase'>example:</p>
<div class='code-example'>
    {% for item in item.data %}{{ item|safe }}{% endfor %}
</div>