<div class='content-block'>

    <div class='[ grid ]'>

        <div class='[ col medium-7 large-6 ]'>

            {{ item|children }}
            
        </div>
       
        {% if item.action %}

            <div class='[ col medium-3 large-4 ] content-block__icon'>

                {% include "components/buttons/action-icon.j2" %}

            </div>

        {% endif %}

    </div>

</div>