<div class='theme--fred'>

    <div class='[ wrapper ]'>

        <div class='[ {{item.layout}} ]'>

            <div class='[ grid grid--float ]'>

                <div class='[ col large-two-thirds medium-full-size ] pr-0 pl-0--q-medium-down right'>
                    
                    <div class='block-{{ data.blockSize }} block--stacked block-0--q-medium block-0--q-small pt-0 pb-0 pl-0--q-small pr-0--q-small'>   
                        
                        <a href='{{ item.href }}' >   
                            <img src='{{ item.src }}' alt='{{ item.title}}' class='img--responsive align--bottom' />
                        </a>  

                    </div>

                </div>

                <div class='[ col large-third medium-full-size ] left pr-0--q-large'>

                    <div class='section'>

                        <p class='uppercase tiny'>

                            <a href='{{item.parent_link }}' >
                                <strong>
                                    {{ item.category }} showcase
                                </strong>
                            </a> 
                             &middot; {{ item.date  }}
                        </p>

                        <h2>
                            <a href='{{ item.url }}'>
                                {{ item.title }}
                            </a>
                        </h2>

                        <p>
                            {{ item.listing_blurb }} 
                        </p>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>