<div class='[ grid {{item.grid_modifier }} ] {{item.theme}}'>
 
    {% for item in item.column_one %}
        
        <div class="[ col third ] {{item.col_theme }} {{item.class }}">
            
            {{ item|children }}
            
        </div>

    {% endfor %}

    {% for item in item.column_two %}
        
        <div class="[ col third ] {{item.col_theme }} {{item.class }}">
            
            {{ item|children }}
           
        </div>

    {% endfor %}

    {% for item in item.column_three %}
        
        <div class="[ col third ] {{item.col_theme }} {{item.class }}">
            
            {{ item|children }}
           
        </div>

    {% endfor %}

</div>