

    <div class='[ grid {{item.grid_modifier }} {{item.section}} ] {{item.grid_theme }}'>

        {% for item in item.columns %}

            <div class="[ col {{item.col_size }} ] {{item.col_theme }} {{item.class }}">

                {{ item|children }}

            </div>

        {% endfor %}

    </div>
