<div class='[ wrapper ]'>
    <div class='header {% if item.theme %}{{ item.theme }}{% else %}theme--fred{% endif %}'>

        {% if item.image %}
            
            <div class="header__image">
                <img src="{{ item.image }}" alt=""/>
            </div>

        {% endif %}
        
        <div class="[ section layout ]">

            <div class="[ grid ]">

                <div class="[ col medium-8 ]">

                    <ol class="breadcrumb">
            
                        {% for crumb in item.breadcrumb %}

                            {% if not loop.last %}
                                <li>
                                    <a href="{{ crumb.path }}">{{ crumb.data.title }}</a>
                                </li>
                            {% endif %}

                        {% endfor %}

                    </ol>

                    {% if item.headline %}
                        <h1>
                            {{ item.headline|safe }}
                        </h1>
                    {% endif %}

                </div>

            </div>


            {% if item.subnav == true %}

            {% set title =  item.title %}
            {% include "/pattern-library/subnav.j2" %} 

            {% endif %}

        </div>
      
    </div>
</div>