{% if item.external_theme %}

<div class='{{item.external_theme}}'>

{% endif %}

    <div class='[ wrapper ]'>
        
        {% if item.section or item.layout %}

        <div class='[ {{item.section}} {{item.layout}} ] {{item.internal_theme}}'>

        {% endif %}

            <div class='[ grid {{item.grid_modifier }} ] {{item.theme}}'>
 
                {% for item in item.column_one %}
                    
                <div class="[ col half ] {{item.theme }} {{item.class }}">
                    
                    {% if item.content_theme %}
                    
                    <div class='{{item.content_theme}} {{item.content_padding}}'>

                    {% endif %}

                        {{ item|children }}

                    {% if item.content_theme %}
                    
                    </div >

                    {% endif %}
                    
                </div>

                {% endfor %}

                {% for item in item.column_two %}
                    
                <div class="[ col half ] {{item.theme }} {{item.class }}">
                    
                    {% if item.content_theme %}
                    
                    <div class='{{item.content_theme}} {{item.content_padding}}'>

                    {% endif %}

                        {{ item|children }}

                    {% if item.content_theme %}
                    
                    </div >

                    {% endif %}
                   
                </div>

                {% endfor %}

            </div>
        
        {% if item.section or item.layout %}
        
        </div>
        
        {% endif %}
    </div>

{% if item.external_theme %}

</div>

{% endif %}
