<div class='section{% if item.size %}-{{item.size}}{% endif %} {% if item.theme %}{{item.theme}}{% endif %} {% if item.layout %}{{item.layout}}{% endif %}' {%if item.anchor %}id='{{item.anchor}}'{% endif %}>

    {{ item|children }}

</div>