<ul class="share-nav">
    <li><span>Share</span></li>
    <li>
        <a href="{{ item.data.twitter|default("#") }}" class="link-theme--twitter">
            <i class="i i-twitter"></i>
            <span class="sr-only">Twitter</span>
        </a>
    </li>
    <li>
        <a href="{{ item.data.facebook|default("#") }}" class="link-theme--facebook">
            <i class="i i-facebook"></i>
            <span class="sr-only">Facebook</span>
        </a>
    </li>
    <li>
        <a href="{{ item.data.google|default("#") }}" class="link-theme--google">
            <i class="i i-google"></i>
            <span class="sr-only">Google</span>
        </a>
    </li>
</ul>