
<div class='[ grid ] statistics-grid '>

    {% for item in item.data %}

        <div class="[ col half ] statistics-grid__item">

            <p class="statistics__figure">            
                {{ item.figure|safe }}          
            </p>

            <p class="statistics__label">   

                {{ item.label_primary|safe }}

                {% if item.label_secondary %}

                    <span class="statistics__sub-label">
                        {{ item.label_secondary|safe }}
                    </span>
                    
                {% endif %}
            </p>

        </div>

    {% endfor %}

</div>

    