<table class='table table--responsive' data-table-responsive>
    
    {% for th in item.data.thead %}

        {% if loop.first %}
            <thead>
        {% endif %}
        
            <th {% if th.colspan %} colspan='{{th.colspan}}'{% endif %}>
                {{ th.data }}
            </th>

        {% if loop.last %}
            </thead>
        {% endif %}

    {% endfor %}
    
    {% for tr in item.data.tfoot %}

        {% if loop.first %}
            <tfoot>
        {% endif %}
            
            <tr>

            {% for td in tr.data %}

                <td {% if td.colspan %} colspan='{{td.colspan}}'{% endif %}>
                    {{ td.data }}
                </td>

            {% endfor %}

            </tr>

        {% if loop.last %}
            </tfoot>
        {% endif %}

    {% endfor %}

    {% for tr in item.data.tbody %}

        {% if loop.first %}
            <tbody>
        {% endif %}

        <tr>

        {% for td in tr %}

            <td {% if td.colspan %} colspan='{{td.colspan}}'{% endif %}>
                
                {{ td.data }}

            </td>

        {% endfor %}

        </tr>

    {% if loop.last %}
        </tbody>
    {% endif %}

    {% endfor %}
    
</table>