
<div class='anatomy-container'>

    {% for item in item.data %}

        <div class=' [ grid grid--bottom ] anatomy-block '>

            <div class='[ col half ] test'>
                
                {% if item.image %}
                    <img src='{{item.image}}'/>
                {% endif %}

            </div>
            <div class='[ col half ]'>
                <p>
                    <a href='{{ item.anchor }}' class='page-layout__item__anchor'>
                        {{ item.name|safe }}
                    </a>
                </p>
            </div> 

            {% if item.note or item.code %}

                <div class='[ col large-8 ]'> 

                    <div class='section-m'>

                        {% if item.note %}
                            <p><strong>NOTE:</strong> {{item.note|safe}}</p>
                        {% endif %}

                        {% if item.code %}
                        <pre>{{item.code|safe}}</pre>
                        {% endif %}

                   </div>
               </div>
            {% endif %}
                        
        </div>

    {% endfor %}

</div>