
<table class="table table--responsive table--zebra ">
    <tr>
        <td colspan="3">
            <strong>Windows</strong>
        </td>
    </tr>
    <tr>
        <td>IE 9</td>
        <td>Windows 7</td>
    </tr>
    <tr>
        <td>IE 10</td>
        <td>Windows 7</td>
    </tr>
    <tr>
        <td>IE 11</td>
        <td>Windows 7</td>
    </tr>
    <tr>
        <td>Google Chrome</td>
        <td>Windows 7</td>
    </tr>
    <tr>
        <td>Mozilla Firefox</td>
        <td>Windows 7</td>
    </tr>
    <tr>
        <td colspan="3">
            <strong>Mac OSX</strong>
        </td>
    </tr>
    <tr>
        <td>Google Chrome</td>
        <td>Latest</td>
    </tr>
    <tr>
        <td>Mozilla Firefox</td>
        <td>Latest</td>
    </tr>
    <tr>
        <td colspan="3">
            <strong>iOS</strong>
        </td>
    </tr>
    <tr>
        <td>iPhone 5</td>
        <td>iOS 7.1</td>
    </tr>
    <tr>
        <td>iPod Touch 3</td>
        <td>iOS 6.1</td>
    </tr>
    <tr>
        <td>iPad 2</td>
        <td>iOS 6.1</td>
    </tr>
    <tr>
        <td>iPad 3</td>
        <td>iOS 7.1</td>
    </tr>
    <tr>
        <td>iPad Mini</td>
        <td>iOS 7.1</td>
    </tr>
    <tr>
        <td colspan="3">
            <strong>Android</strong>
        </td>
    </tr>
    <tr>
        <td>Samsung Galaxy S2</td>
        <td>Android 2.3</td>
    </tr>
    <tr>
        <td>Nexus 4</td>
        <td>Android 4.4</td>
    </tr>
    <tr>
        <td>Samsung Galaxy Tab</td>
        <td>Android 4.4</td>
    </tr>
    <tr>
        <td>Nexus 3 Tablet</td>
        <td>Android 4.1</td>
    </tr>
</table>
