<div class='[ grid ] grid-breakpoints-block'>

    {% for item in item.grid %}

        <div class='[ col large-fifth medium-half ] im-on-{{item.name}} breakpoints__swatch'>
            
            <div class='theme--dark swatch__top ' >
        
                {{item.name}} 
        
            </div>
        
            <div class='theme--white swatch__bottom'>

                {{item.breakpoint}}
        
            </div>

        </div>

    {% endfor %}

</div>