<h3>
    Nesting grids
</h3>

<p>
    Grids can be nested, and this will preserve the correct gutters and indentation.
</p>

<div class="[ grid grid--center ]">

    <div class="grid-debug [ col full-width ]">

        <div class="grid">
            <div class="grid-debug [ col third ]">
                [ col third ]
            </div>

            <div class="grid-debug [ col third ]">
                [ col third ]
            </div>

            <div class="grid-debug [ col third ]">
                [ col third ]
            </div>
        </div>
        [ col full-width ]
    </div>
</div>
