
<h4 id='fraction-grid'>
    1. Fractional grid 
</h4>
<p>
   A fractional grid can be divided up into common fractions as follows:
</p>

<div class='[ grid grid--center ]'>

    <div class="grid-debug [ col full-width ]">
            [ col full-width ]
    </div>

</div>
<div class='[ grid grid--center ]'>

    <div class="grid-debug [ col half ]">
        [ col half ]
    </div>

    <div class="grid-debug [ col half ]">
        [ col half ]
    </div>

</div>

<div class=' [ grid grid--center ]'>

    <div class="grid-debug [ col third ]">
        [ col third ]
    </div>

    <div class="grid-debug [ col two-thirds ]">
        [ col two-thirds ]
    </div>

</div>

<div class='[ grid grid--center ]'>

    <div class="grid-debug [ col quarter ]">
        [ col quarter ]
    </div>
    <div class="grid-debug [ col three-quarters ]">
        [ col three-quarters ]
    </div>

</div>

<div class='[ grid grid--center ]'>

    <div class="grid-debug [ col fifth ]">
        [ col fifth ]
    </div>

    <div class="grid-debug [ col fifth ]">
        [ col fifth ]
    </div>

    <div class="grid-debug [ col fifth ]">
        [ col fifth ]
    </div>

    <div class="grid-debug [ col fifth ]">
        [ col fifth ]
    </div>

    <div class="grid-debug [ col fifth ]">
        [ col fifth ]
    </div>

</div>
