
<h4>
   2. Percentage grid (10 col)
</h4>
<p>
    The percentage grid uses multiples of 10% to create a fluid, mobile-first grid system that scales up to 10 columns as the device or viewport size increases.
</p>
<p>
    Here are the predefined classes that you can apply to your columns: 
</p>

<div class='[ grid grid--center ]'>

    <div class="grid-debug [ col large-1 ]">
        [ col large-1 ]
    </div>
    <div class="grid-debug [ col large-9 ]">
        [ col large-9 ] 
    </div>
    <div class="grid-debug [ col large-2 ]">
        [ col large-2 ]
    </div>
    <div class="grid-debug [ col large-8 ]">
        [ col large-8 ]
    </div>

    <div class="grid-debug [ col large-3 ]">
        [ col large-3 ]
    </div>
    <div class="grid-debug [ col large-7 ]">
        [ col large-7 ] 
    </div>

    <div class="grid-debug [ col large-4 ]">
        [ col large-4 ] 
    </div>
    <div class="grid-debug [ col large-6 ]">
        [ col large-6 ] 
    </div>
    <div class="grid-debug [ col large-5 ]">
        [ col large-5 ] 
    </div>
</div>
