

    <div class='[ grid ]'>
        <div class='[ col ]'>
            <h4>
               3. Responsive grid
            </h4>
            <p>
                Fractional and percentage-based columns can be modified to apply at particular breakpoints by prefixing classnames with  [ small- ], [ medium- ], or [ large- ].
            </p>
            <p>
                Resize the browser window horizontally to see the effect of the prefixes.
            </p>
        </div>
    </div>


<p>
    <strong>
        Example of a responsive fractional grid:
    </strong>
</p>

<div class='[ grid grid--center ]'>
    <div class="grid-debug [ col large-quarter medium-half ]">
        [ col <br /> large-quarter <br />medium-half ]
    </div>
    <div class="grid-debug [ col large-three-quarters medium-half ]">
        [ col <br /> large-three-quarters <br />medium-half ]
    </div>
</div>

<p>
    <strong>
        Example of a responsive percentage grid:
    </strong>
</p>

<div class='[ grid grid--center ]'>
    <div class="grid-debug [ col large-4 medium-7 small-5 ]">
        [ col <br /> large-4 <br />medium-7 <br />small-5 ]
    </div>
    <div class="grid-debug [ col large-6 medium-3 small-5 ]">
        [ col <br /> large-6 <br />medium-7 <br />small-5 ]
    </div>
</div>
