<div class='[ grid ] icon-block' >
    
    <div class='[ grid ] icon-block' >
    
    {% for icon in item.data %}

        <div class="[ col large-2 medium-half ] icon-block__item ">

            <div class='swatch__top theme--neutral icons--large' >

                <i class="i i-{{icon.name}} "></i>

            </div>

            <div class='swatch__middle theme--light text-center'>
                <i class="i i--dark-grey i-{{icon.name}} "></i>

                <i class="i i--dark-blue i-{{icon.name}} "></i>

                <i class="i i--red i-{{icon.name}} "></i>

                <span class="theme--strong">

                    <i class="i i--white i-{{icon.name}} "></i>

                </span>
            </div>

            <div class='swatch__bottom theme--dark'>
     
                {{icon.name}}
         
            </div>

        </div>

    {% endfor %}
    
    </div>

</div>
