<div class=' theme--white '>

    <div class="[ wrapper  ]">

        <div class='[ section layout ]' id='layout'>
            
            <div class='[ grid ]'>

                <div class='[ col ]'>

                    <h2>
                        Layout
                    </h2>

                    <p>
                        Three layout classes govern the horizontal width and spacing of content: ‘layout’, ‘layout--half’ and ‘layout--nudge’.
                    </p>

                    <hr class='hr--bleed'/>

                    <p>
                        <strong>1. layout</strong>
                    </p>

                    <p>
                        The main layout class, used through out the site. It has a default left and right padding of 1rem, changing to 4% above the medium breakpoint and again to 8.33% above the large breakpoint.
                    </p>

                </div>

            </div>
       
            <div class=" [ layout ] layout--debug text-center">

                <div class='[ grid ]'>

                    <div class='[ col ]'>

                        <p> 
                            [ layout ]
                        </p>

                    </div>

                </div>

            </div>
            
            <div class='[ grid ]'>

                <div class='[ col ]'>

                <hr class='hr--bleed'/>  

                    <p>
                        <strong>2. "layout--half" </strong>
                    </p>

                    <p>
                        Used mostly to constrain the width of forms in the transactions section, ‘layout--half’ inherits all of the behaviour of ‘layout’, and adjusts the left and right padding to 25% (instead of 8.33%) above the large breakpoint.
                    </p>

                </div>

            </div>

            <div class=" [ layout--half ] layout-half--debug text-center">

                <div class='[ grid ]'>

                    <div class='[ col ]'>

                        <p> 
                            [ layout--half ] 
                        </p>

                    </div>

                </div>

            </div>

            <div class='[ grid ]'>

                <div class='[ col ]'>

                <hr class='hr--bleed'/>  

                    <p>
                        <strong>3. "layout--nudge" </strong>
                    </p>

                    <p>
                       This modifier applies a negative margin of -2em to the top of an element. It doesn’t affect horizontal layout or spacing.
                    </p>

                </div>

            </div>

        </div>

    </div>

</div>