<div class=" [ layout--half ] layout-half--debug text-center">

    <div class='[ grid ]'>

        <div class='[ col ]'>

            <p> 
                [ layout--half ] 
            </p>

        </div>

    </div>

</div>