<div class='[ grid ]'>

    {% for item in item.sizes %}

        <div class='[ col ] swatch-container'  >

            <div class='theme--fred swatch__top' >
            
                layout-{{item.name}}
            
            </div>
            
            <div class='theme--grey layout-{{item.name}}'>
            
                <p class='theme--white' style='margin-bottom:0;'>
        
                    What's the hurry Mr Whippy? There's plenty of All Blacks in Shortland Street. The dairy holds the most beaut community in the country.. Mrs Falani was cruising for a brusing when the pretty suss pashing event occured.  
        
                </p>
            
            </div> 
    
        
        </div>
    
    {% endfor %}

</div>