
            
<div class=" [ layout ] layout--debug text-center">

    <div class='[ grid ]'>

        <div class='[ col ]'>

            <p> 
                [ layout ]
            </p>

        </div>

    </div>

</div>
       