<div class=' theme--white '>
    <div class="[ wrapper  ]">

        <div class='[ section layout ]'>
    
            <div class='[ grid ]'>
                <div class='[ col ]'>
                    <h2>
                        Structural classes
                    </h2>
                    <p>
                        There are four main structural classes that make up this website. These are: "wrapper", "section", "layout" and "grid".
                    </p>
                    <p> 
                        The <strong>"wrapper"</strong> class sets the sites maximum page width to 72rem (1152px).
                    </p>
                    <p>
                        The <strong>"<a href='#section'>section</a>"</strong> class controls the vertical spacing of a section.
                    </p>
                    <p>
                        The <strong>"<a href='#layout'>layout</a>"</strong> class controls the horizontal spacing of a section.
                    </p>
                    <p>
                        The <strong>"<a href='#grid'>grid</a>"</strong> class controls the page layouts.
                    </p>
                    
            </div>
        </div>
    </div>
</div>