{% set examples = item.component|getApi %}

<div class='mb-xxxl mb-xxxxl--q-large'>

{% for example in examples %}

    <div class='[ wrapper ] '>
    
        <div class='[ section layout ] theme--white' {%if item.anchor %} id='{{item.anchor}}'{% endif %}>
        
            <div class='[ grid ]'>
                
                <div class='[ col ] '>    

                    {% if example.title %}

                        {% if loop.index > 1 %}
                        
                        <h4>
                            {{ example.title }} 
                        </h4>

                        {% else %}

                        <h3>
                            {{ example.title }} 
                        </h3>

                        {% endif %}
                     
                    {% endif %}
                    
                    {% if example.notes %}

                    <p>
                        {{ example.notes }}
                    </p> 

                    {% endif %}

                    {% if example.code %}

<pre>{{ example.code }}</pre>

                    {% endif %}

                    <div class='styleguide__example '>
                        {{ example.example|component }}
                    </div>

                </div>

            </div>

        </div>

    </div>

    <div class='[ wrapper ] '>
        
        <div class='[ section-m layout ] theme--grey' {%if item.anchor %} id='{{item.anchor}}'{% endif %}>
        
            <div class='[ grid ]'>
                
                <div class='[ col ] '>

                    <strong>Try it out:</strong>

                    <a data-showhide-trigger='{{example.example.type}}-{{loop.index}}' class='styleguide__api__code-view'>
                        Code
                    </a>

                </div>

                <div class='showhide-hidden code-container' data-showhide-container='{{example.example.type}}-{{loop.index}}'> 

<pre class="styleguide__code">

{{ example.example|json }}

</pre>

<pre class='styleguide--html' >

{{ example.example|component|pretty_html|escape|safe }}

</pre>


                </div>

            </div>

        </div>

    </div>

{% endfor %}

</div>