<div class='[ section layout mt-l theme--white' {%if item.anchor %} id='{{item.anchor}}'{% endif %}>
    
    <div class='[ grid ]'>
        
        <div class='[ col ] '>

            {{ item|children }}

        </div>

    </div>

</div>
