<div class='[ wrapper ] mb-l'>
	
	<div class='[ section layout ] theme--white' {%if item.anchor %} id='{{item.anchor}}'{% endif %}>
    
	    <div class='[ grid ]'>
	        
	        <div class='[ col ] '>

	            {{ item|children }}

	        </div>

	    </div>

	</div>

</div>
