<div class='theme-container [ grid ]'>

    {% for item in item.themes %}
        
        <div class='theme-swatch [ col large-quarter medium-half ]'>
      
            <div class='swatch__top theme--{{item.name}}'>
               
                Aa <a href=''>a</a>
        
            </div>

            <div class='swatch__bottom theme--white'>
            
                theme--{{item.name}}
      
            </div>
            
        </div>

    {% endfor %}

</div>

