<div class='[ grid ] typography-container '>
    
    <div class='[ col large-half ]'>
        
     {% for item in item.description %}

        {{item|component }}

     {% endfor %}
         
    </div>

    <div class='typography__swatches [ col large-half ]'>

        <div class='typography-swatch-container [ grid  ]'>

            {% for item in item.styles %}

                <div class='typography-swatch [ col large-third medium-half ] font-{{item.style}}'>
                    
                    <div class='swatch__top theme--neutral'>   
                        Aa
                    </div>

                    <div class='swatch__bottom theme--dark'>
                        {{item.style}}
                    </div>

                </div>

            {% endfor %}

        </div>

    </div>

</div>