
.i-about-grey {
    background-image: url('png/about-grey.png');
    background-repeat: no-repeat;
}



.i-action-book {
    background-image: url('png/action-book.png');
    background-repeat: no-repeat;
}



.i-arrow-l {
    background-image: url('png/arrow-l.png');
    background-repeat: no-repeat;
}



.i-arrow-r {
    background-image: url('png/arrow-r.png');
    background-repeat: no-repeat;
}



.i-bg-abstract {
    background-image: url('png/bg-abstract.png');
    background-repeat: no-repeat;
}


.breakline--hatched:before, .subnav__nav:before, .hatched-line:before, .level-1 .traffic-info__header:after,
.i-bg-hatched {
    background-image: url('png/bg-hatched.png');
    background-repeat: no-repeat;
}



.i-caret-down {
    background-image: url('png/caret-down.png');
    background-repeat: no-repeat;
}



.i-circle-arrow {
    background-image: url('png/circle-arrow.png');
    background-repeat: no-repeat;
}



.i-close {
    background-image: url('png/close.png');
    background-repeat: no-repeat;
}



.i-contact-grey {
    background-image: url('png/contact-grey.png');
    background-repeat: no-repeat;
}



.i-contact {
    background-image: url('png/contact.png');
    background-repeat: no-repeat;
}



.i-distance {
    background-image: url('png/distance.png');
    background-repeat: no-repeat;
}



.i-do-it-online {
    background-image: url('png/do-it-online.png');
    background-repeat: no-repeat;
}



.i-duration {
    background-image: url('png/duration.png');
    background-repeat: no-repeat;
}



.i-facebook-grey {
    background-image: url('png/facebook-grey.png');
    background-repeat: no-repeat;
}



.i-facebook {
    background-image: url('png/facebook.png');
    background-repeat: no-repeat;
}



.i-google {
    background-image: url('png/google.png');
    background-repeat: no-repeat;
}



.i-hamburger {
    background-image: url('png/hamburger.png');
    background-repeat: no-repeat;
}



.i-linkedin-grey {
    background-image: url('png/linkedin-grey.png');
    background-repeat: no-repeat;
}



.i-linkedin {
    background-image: url('png/linkedin.png');
    background-repeat: no-repeat;
}



.i-map-caret-down {
    background-image: url('png/map-caret-down.png');
    background-repeat: no-repeat;
}



.i-map-caret-up {
    background-image: url('png/map-caret-up.png');
    background-repeat: no-repeat;
}



.i-map-cog {
    background-image: url('png/map-cog.png');
    background-repeat: no-repeat;
}



.i-map-compass {
    background-image: url('png/map-compass.png');
    background-repeat: no-repeat;
}



.i-map-minus {
    background-image: url('png/map-minus.png');
    background-repeat: no-repeat;
}



.i-map-plus {
    background-image: url('png/map-plus.png');
    background-repeat: no-repeat;
}



.i-map-tools-cameras {
    background-image: url('png/map-tools-cameras.png');
    background-repeat: no-repeat;
}



.i-map-tools-roadworks {
    background-image: url('png/map-tools-roadworks.png');
    background-repeat: no-repeat;
}



.i-map-tools-traffic-flow {
    background-image: url('png/map-tools-traffic-flow.png');
    background-repeat: no-repeat;
}



.i-map-tools-warnings {
    background-image: url('png/map-tools-warnings.png');
    background-repeat: no-repeat;
}


.route .route__figure:after,
.i-mask-traffic-figure {
    background-image: url('png/mask-traffic-figure.png');
    background-repeat: no-repeat;
}



.i-menu {
    background-image: url('png/menu.png');
    background-repeat: no-repeat;
}



.i-newzealand-government {
    background-image: url('png/newzealand-government.png');
    background-repeat: no-repeat;
}



.i-nzgovt {
    background-image: url('png/nzgovt.png');
    background-repeat: no-repeat;
}



.i-nzoa-logo {
    background-image: url('png/nzoa-logo.png');
    background-repeat: no-repeat;
}


.theme--full-colour .i-nzta-logo,
.i-nzta-logo-coloured {
    background-image: url('png/nzta-logo-coloured.png');
    background-repeat: no-repeat;
}



.i-nzta-logo {
    background-image: url('png/nzta-logo.png');
    background-repeat: no-repeat;
}



.i-pinterest-grey {
    background-image: url('png/pinterest-grey.png');
    background-repeat: no-repeat;
}


.route > .route__item.route__item--roadworks:after,
.i-roadworks {
    background-image: url('png/roadworks.png');
    background-repeat: no-repeat;
}


.route > .route__item:after,
.i-route-stop {
    background-image: url('png/route-stop.png');
    background-repeat: no-repeat;
}



.i-route {
    background-image: url('png/route.png');
    background-repeat: no-repeat;
}



.i-search-grey {
    background-image: url('png/search-grey.png');
    background-repeat: no-repeat;
}



.i-search {
    background-image: url('png/search.png');
    background-repeat: no-repeat;
}



.i-section-about-us {
    background-image: url('png/section-about-us.png');
    background-repeat: no-repeat;
}



.i-section-commercial-driving {
    background-image: url('png/section-commercial-driving.png');
    background-repeat: no-repeat;
}



.i-section-contact-us {
    background-image: url('png/section-contact-us.png');
    background-repeat: no-repeat;
}



.i-section-do-it-online {
    background-image: url('png/section-do-it-online.png');
    background-repeat: no-repeat;
}



.i-section-driver-licences {
    background-image: url('png/section-driver-licences.png');
    background-repeat: no-repeat;
}



.i-section-forms {
    background-image: url('png/section-forms.png');
    background-repeat: no-repeat;
}



.i-section-highways-and-roads {
    background-image: url('png/section-highways-and-roads.png');
    background-repeat: no-repeat;
}



.i-section-home {
    background-image: url('png/section-home.png');
    background-repeat: no-repeat;
}



.i-section-media {
    background-image: url('png/section-media.png');
    background-repeat: no-repeat;
}



.i-section-pattern-library {
    background-image: url('png/section-pattern-library.png');
    background-repeat: no-repeat;
}



.i-section-road-engineering {
    background-image: url('png/section-road-engineering.png');
    background-repeat: no-repeat;
}



.i-section-safety {
    background-image: url('png/section-safety.png');
    background-repeat: no-repeat;
}



.i-section-traffic {
    background-image: url('png/section-traffic.png');
    background-repeat: no-repeat;
}



.i-section-vehicle-information {
    background-image: url('png/section-vehicle-information.png');
    background-repeat: no-repeat;
}



.i-sh {
    background-image: url('png/sh.png');
    background-repeat: no-repeat;
}



.i-speed {
    background-image: url('png/speed.png');
    background-repeat: no-repeat;
}



.i-springload {
    background-image: url('png/springload.png');
    background-repeat: no-repeat;
}



.i-time {
    background-image: url('png/time.png');
    background-repeat: no-repeat;
}



.i-timer {
    background-image: url('png/timer.png');
    background-repeat: no-repeat;
}



.i-twitter-grey {
    background-image: url('png/twitter-grey.png');
    background-repeat: no-repeat;
}



.i-twitter {
    background-image: url('png/twitter.png');
    background-repeat: no-repeat;
}



.i-view-angle {
    background-image: url('png/view-angle.png');
    background-repeat: no-repeat;
}


.route > .route__item.route__item--warning:after,
.i-warning {
    background-image: url('png/warning.png');
    background-repeat: no-repeat;
}



.i-youtube-grey {
    background-image: url('png/youtube-grey.png');
    background-repeat: no-repeat;
}


